{"openapi":"3.0.3","info":{"title":"Blooio API v2","description":"RESTful API for iMessage automation. Send messages, manage contacts, groups, and webhooks.","version":"2.0.0","contact":{"name":"Blooio Support","url":"https://blooio.com","email":"support@blooio.com"}},"servers":[{"url":"https://api.blooio.com/v2/api","description":"Production"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"Account","description":"Authentication and account information"},{"name":"Numbers","description":"Manage phone numbers linked to your account"},{"name":"Contact Card","description":"Manage and share your iMessage contact card (Name & Photo)"},{"name":"Contacts","description":"Manage contacts (phone numbers and emails)"},{"name":"Groups","description":"Manage contact groups"},{"name":"Group Members","description":"Manage group membership"},{"name":"Webhooks","description":"Manage webhook subscriptions"},{"name":"Webhook Logs","description":"View and replay webhook deliveries"},{"name":"Chats","description":"View conversations and messages"},{"name":"Messages","description":"View individual messages and their status"},{"name":"Typing Indicators","description":"Control typing indicators for conversations"},{"name":"Read Receipts","description":"Mark conversations as read"},{"name":"Reactions","description":"Add or remove reactions to messages. Supports classic iMessage tapbacks (love, like, dislike, laugh, emphasize, question) and emoji reactions (e.g. +😂, -😂)."},{"name":"Polls","description":"Send native iMessage polls and retrieve poll results with vote counts. Poll events are delivered via separate webhook event types (poll.received, poll.created, poll.voted) and require webhook_type 'poll' or 'all'."},{"name":"Location","description":"FindMy contact location tracking"},{"name":"FaceTime","description":"Initiate FaceTime calls"},{"name":"Phone Numbers","description":"Phone number validation, formatting, and NANPA geocoding. Requires an Enterprise plan (Dedicated Enterprise)."}],"paths":{"/me":{"get":{"tags":["Account"],"summary":"Get current authentication context","description":"Returns details about the authenticated API key or dashboard user, including organization info, devices, and usage statistics.","operationId":"getMe","responses":{"200":{"description":"Authentication context","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/me/numbers":{"get":{"tags":["Numbers"],"summary":"List phone numbers","description":"List all phone numbers bound to this API key with their availability status. Use the returned phone numbers as the `:number` path parameter for other `/me/numbers/` endpoints.","operationId":"listNumbers","responses":{"200":{"description":"List of phone numbers","content":{"application/json":{"schema":{"type":"object","properties":{"numbers":{"type":"array","items":{"type":"object","properties":{"phone_number":{"type":"string","example":"+15551234567"},"is_active":{"type":"boolean"},"last_active":{"type":"string","format":"date-time","nullable":true},"plan_kind":{"type":"string","nullable":true,"enum":["shared","dedicated","inbound","trial","2fa",null],"description":"Plan type the underlying allocation runs on. Sourced directly from `allocation_pool.type` — the enum mirrors the DB `CHECK` constraint (see migration 2026-05-09-inbound-plan.sql), so any value here is also a valid type stored in the database. `inbound` numbers are reply-only — outbound to a recipient (a contact for 1:1 chats, the group for group chats) requires that recipient to have messaged the number first (otherwise the send returns `403 inbound_only_no_prior_inbound`). `null` indicates the underlying allocation predates the type column or is unattributed; clients should treat `null` the same as `dedicated` for routing decisions."}}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/me/numbers/{number}/contact-card":{"get":{"tags":["Contact Card"],"summary":"Get contact card (Coming Soon)","description":"⚠️ **COMING SOON** - This endpoint is temporarily disabled while we stabilize this feature.\n\nGet the personal contact card (Name & Photo) for the specified phone number. This is the identity that gets shared with contacts in iMessage.","operationId":"getMyContactCard","parameters":[{"name":"number","in":"path","required":true,"description":"E.164 phone number (URL-encoded, e.g., %2B15551234567)","schema":{"type":"string"}}],"responses":{"200":{"description":"Contact card data","content":{"application/json":{"schema":{"type":"object","properties":{"phone_number":{"type":"string"},"first_name":{"type":"string","nullable":true},"last_name":{"type":"string","nullable":true},"name":{"type":"string","nullable":true,"description":"Display name"},"avatar":{"type":"string","nullable":true,"description":"Base64-encoded JPEG/PNG image"},"has_wallpaper":{"type":"boolean"},"sharing":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether Name & Photo sharing is enabled"},"audience":{"type":"integer","description":"0 = Contacts Only, 1 = Always Ask"},"name_format":{"type":"integer","description":"0 = First & Last, 1 = First Only"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Phone number not accessible with this API key"},"404":{"$ref":"#/components/responses/NotFound"}}},"put":{"tags":["Contact Card"],"summary":"Update contact card","description":"Update the personal contact card (Name & Photo) for the specified phone number. All fields are optional — only provided fields are updated.\n\n⚠️ **Plan requirement:** Setting the `first_name`, `last_name`, or `avatar` is only available on **Dedicated Commercial** and **Dedicated Enterprise** plans. Numbers on other plans receive a `403`.","operationId":"updateMyContactCard","parameters":[{"name":"number","in":"path","required":true,"description":"E.164 phone number (URL-encoded, e.g., %2B15551234567)","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"first_name":{"type":"string","description":"First name"},"last_name":{"type":"string","description":"Last name"},"avatar":{"type":"string","description":"Profile photo as base64-encoded JPEG/PNG"},"sharing":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Enable/disable Name & Photo sharing"},"audience":{"type":"integer","description":"0 = Contacts Only, 1 = Always Ask"},"name_format":{"type":"integer","description":"0 = First & Last, 1 = First Only"}}}}}}}},"responses":{"200":{"description":"Contact card updated","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"phone_number":{"type":"string"},"first_name":{"type":"string","nullable":true},"last_name":{"type":"string","nullable":true}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Phone number not accessible with this API key"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"description":"Temporary communication error"}}}},"/me/numbers/{number}/call-forwarding":{"post":{"tags":["Numbers"],"summary":"Request call forwarding","description":"Open a request to forward calls from one of your numbers to another phone number.\n\nThis does **not** instantly reconfigure forwarding — it opens a support request that the Blooio team fulfils, and the change typically takes effect within one business day. The `{number}` path parameter is the source number to forward, and `forward_to` is the destination.\n\nOnly **dedicated** or **inbound** numbers owned by your organization can be forwarded; shared numbers cannot, because the underlying line is shared across organizations. Both numbers must be valid US numbers.","operationId":"requestCallForwarding","parameters":[{"name":"number","in":"path","required":true,"description":"Source E.164 phone number to forward (URL-encoded, e.g., %2B15551234567). Must be a dedicated or inbound number owned by your organization.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["forward_to"],"properties":{"forward_to":{"type":"string","description":"Destination US phone number that calls should be forwarded to. E.164 format recommended (e.g., +15559876543).","example":"+15559876543"}}}}}},"responses":{"201":{"description":"Call forwarding request created","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"ticket_id":{"type":"string","description":"Identifier of the support ticket tracking this request","example":"tkt_abc123"},"status":{"type":"string","description":"Ticket status","example":"open"},"number":{"type":"string","description":"Source number (E.164)","example":"+15551234567"},"forward_to":{"type":"string","description":"Destination number (E.164)","example":"+15559876543"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Ticket creation is disabled for your organization"}}}},"/contacts":{"get":{"tags":["Contacts"],"summary":"List contacts","description":"List all contacts for the organization with optional search and pagination.","operationId":"listContacts","parameters":[{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/OffsetParam"},{"name":"q","in":"query","description":"Search query (matches identifier or name)","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort order","schema":{"type":"string","enum":["recent","oldest","name_asc","name_desc"],"default":"recent"}}],"responses":{"200":{"description":"List of contacts","content":{"application/json":{"schema":{"type":"object","properties":{"contacts":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["Contacts"],"summary":"Create a contact","description":"Create a new contact with a phone number (E.164 format) or email address.","operationId":"createContact","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["identifier"],"properties":{"identifier":{"type":"string","description":"Phone number (E.164 format, e.g., +15551234567) or email address","example":"+15551234567"},"name":{"type":"string","description":"Display name for the contact","example":"John Doe"}}}}}},"responses":{"201":{"description":"Contact created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"409":{"description":"Contact already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/contacts/{contactId}":{"get":{"tags":["Contacts"],"summary":"Get a contact","description":"Get details for a specific contact by phone number or email.","operationId":"getContact","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"responses":{"200":{"description":"Contact details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"tags":["Contacts"],"summary":"Update a contact","description":"Update a contact's name.","operationId":"updateContact","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","nullable":true,"description":"New display name (null to clear)","example":"Jane Doe"}}}}}},"responses":{"200":{"description":"Contact updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"delete":{"tags":["Contacts"],"summary":"Delete a contact","description":"Soft-delete a contact.","operationId":"deleteContact","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"responses":{"200":{"description":"Contact deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/contacts/{contactId}/capabilities":{"get":{"tags":["Contacts"],"summary":"Check contact capabilities","description":"Check if a contact supports iMessage and/or SMS.","operationId":"getContactCapabilities","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"responses":{"200":{"description":"Contact capabilities","content":{"application/json":{"schema":{"type":"object","properties":{"contact":{"type":"string","description":"Normalized contact identifier"},"type":{"type":"string","enum":["phone","email"]},"capabilities":{"type":"object","properties":{"imessage":{"type":"boolean","description":"Whether iMessage is available"},"sms":{"type":"boolean","description":"Whether SMS is available (phone only)"},"facetime":{"type":"boolean","description":"Whether FaceTime is available"}}},"last_checked":{"type":"integer","format":"int64","description":"Timestamp when capabilities were checked"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"description":"No active number available to check capabilities","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/contacts/{contactId}/tags":{"get":{"tags":["Contacts"],"summary":"List contact tags","description":"List all tags assigned to a contact.","operationId":"listContactTags","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"responses":{"200":{"description":"List of tags","content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"array","items":{"type":"object","properties":{"tag":{"type":"string","description":"The tag value","example":"vip"},"created_at":{"type":"integer","format":"int64","description":"Timestamp when the tag was added (ms since epoch)"}}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"tags":["Contacts"],"summary":"Add tags to a contact","description":"Add one or more tags to a contact. If a tag already exists on the contact, it is re-activated (idempotent). Tags are free-form strings.","operationId":"addContactTags","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["tags"],"properties":{"tags":{"type":"array","items":{"type":"string"},"description":"Tags to add","example":["vip","priority"]}}}}}},"responses":{"201":{"description":"Tags added","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"tags_added":{"type":"array","items":{"type":"string"},"description":"Tags that were added","example":["vip","priority"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/contacts/{contactId}/tags/{tag}":{"delete":{"tags":["Contacts"],"summary":"Remove a tag from a contact","description":"Remove a specific tag from a contact. The tag is soft-deleted and can be re-added later.","operationId":"removeContactTag","parameters":[{"$ref":"#/components/parameters/ContactIdParam"},{"name":"tag","in":"path","required":true,"description":"The tag to remove (URL-encode if it contains special characters)","schema":{"type":"string"},"example":"vip"}],"responses":{"200":{"description":"Tag removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/location/contacts":{"get":{"tags":["Location"],"summary":"List contact locations","description":"Returns cached FindMy contact locations available through your blooio account. Each entry includes the contact's handle (phone/email), coordinates, and last update time.","operationId":"listLocationContacts","responses":{"200":{"description":"List of contact locations","content":{"application/json":{"schema":{"type":"object","properties":{"friends":{"type":"array","items":{"$ref":"#/components/schemas/ContactLocation"}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"No active number is available for this API key"}}}},"/location/contacts/{handle}":{"get":{"tags":["Location"],"summary":"Get contact location","description":"Returns the cached location for a specific contact identified by phone number or email.","operationId":"getLocationContact","parameters":[{"name":"handle","in":"path","required":true,"schema":{"type":"string"},"description":"Contact's phone number (E.164) or email address"}],"responses":{"200":{"description":"Contact location data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactLocation"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"No location found for this contact"}}}},"/location/contacts/refresh":{"post":{"tags":["Location"],"summary":"Refresh contact locations","description":"Triggers a refresh of cached FindMy contact locations. Updated results may take 15-20 seconds to appear.","operationId":"refreshLocationContacts","responses":{"200":{"description":"Refresh triggered, returns updated locations","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"friends":{"type":"array","items":{"$ref":"#/components/schemas/ContactLocation"}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/facetime/calls":{"post":{"tags":["FaceTime"],"summary":"Initiate a FaceTime call (Coming Soon)","description":"**Coming Soon** -- This endpoint is temporarily disabled while we stabilize the FaceTime call flow.\n\nInitiates a FaceTime call to the specified phone number or email address. Returns a shareable FaceTime link that anyone can use to join the call. The call will ring the contact and auto-admit the first person who joins via the link.","operationId":"callFaceTime","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["handle"],"properties":{"handle":{"type":"string","description":"Phone number (E.164) or email address to call","example":"+15551234567"}}}}}},"responses":{"200":{"description":"FaceTime call initiated","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"link":{"type":"string","description":"Shareable FaceTime link","example":"https://facetime.apple.com/join#v=1&p=xxx"},"handle":{"type":"string","description":"The handle that was called"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/groups":{"get":{"tags":["Groups"],"summary":"List groups","description":"List all groups for the organization with optional search and pagination.","operationId":"listGroups","parameters":[{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/OffsetParam"},{"name":"q","in":"query","description":"Search query (matches group name)","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort order","schema":{"type":"string","enum":["recent","oldest","name_asc","name_desc"],"default":"recent"}}],"responses":{"200":{"description":"List of groups","content":{"application/json":{"schema":{"type":"object","properties":{"groups":{"type":"array","items":{"$ref":"#/components/schemas/Group"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["Groups"],"summary":"Create a group","description":"Create a new group. There are two modes:\n\n**1. Link to existing iMessage chat:** Provide `chat_guid` to join an existing group chat that was created outside the API. The `members` list records who is in the group but does NOT add them to the linked iMessage chat. Multiple groups can have the same participants if they have different `chat_guid`s.\n\n**2. Create new group:** Omit `chat_guid` to create a new group. When you send the first message, a new iMessage chat will be created. Note: iMessage only allows one chat per unique participant set when created via API.","operationId":"createGroup","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Group name (max 255 characters)","example":"Sales Team"},"chat_guid":{"type":"string","description":"BlueBubbles chat GUID to link this group to an existing iMessage chat. Use this to join groups created elsewhere. You can get this from the BlueBubbles API or from inbound message webhooks.","example":"iMessage;+;chat123456789"},"members":{"type":"array","items":{"type":"string"},"description":"Phone numbers or emails of contacts in the group. When linking via chat_guid, this is for record-keeping only (members are not added to the linked iMessage chat).","example":["+15551234567","+15559876543"]}}}}}},"responses":{"201":{"description":"Group created","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Group"},{"type":"object","properties":{"added_members":{"type":"array","items":{"type":"string"},"description":"List of member identifiers that were added to the group"},"created_contacts":{"type":"array","items":{"type":"string"},"description":"List of contacts that were auto-created"}}}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"409":{"description":"Conflict. Either: (1) A group with this chat_guid already exists, or (2) A group with the same participants already exists on this allocation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/groups/{groupId}":{"get":{"tags":["Groups"],"summary":"Get a group","description":"Get details for a specific group.","operationId":"getGroup","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"responses":{"200":{"description":"Group details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"tags":["Groups"],"summary":"Update a group","description":"Update a group's name. If the group has a linked `chat_guid`, the display name will also be updated in the linked iMessage chat. Note: iMessage only allows one chat per unique participant set, so renaming simply changes the display name on the existing chat thread.","operationId":"updateGroup","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"New group name","example":"Marketing Team"}}}}}},"responses":{"200":{"description":"Group updated successfully.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Group"},{"type":"object","properties":{"device_sync":{"$ref":"#/components/schemas/DeviceSyncResult"}}}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"delete":{"tags":["Groups"],"summary":"Delete a group","description":"Soft-delete a group. Members are automatically removed. If the group is linked to an existing iMessage chat, the number also leaves that chat.","operationId":"deleteGroup","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"responses":{"200":{"description":"Group deleted","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"deleted_at":{"type":"integer","format":"int64"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"description":"Failed to leave linked iMessage chat","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active number available to leave group chat","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/groups/{groupId}/members":{"get":{"tags":["Group Members"],"summary":"List group members","description":"List all members of a group.","operationId":"listGroupMembers","parameters":[{"$ref":"#/components/parameters/GroupIdParam"},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/OffsetParam"}],"responses":{"200":{"description":"List of group members","content":{"application/json":{"schema":{"type":"object","properties":{"group_id":{"type":"string","description":"The group ID"},"group_name":{"type":"string","nullable":true,"description":"The group name"},"icon_url":{"type":"string","nullable":true,"description":"URL of the group icon/photo"},"members":{"type":"array","items":{"$ref":"#/components/schemas/GroupMember"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"tags":["Group Members"],"summary":"Add a member to a group (Coming Soon)","description":"⚠️ **COMING SOON** - This endpoint is temporarily disabled while we stabilize this feature.\n\nAdd an existing contact to a group. If the group is linked to an existing iMessage chat, also adds the participant to that chat.","operationId":"addGroupMember","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["contact_id"],"properties":{"contact_id":{"type":"string","description":"Contact identifier (phone number or email)","example":"+15551234567"}}}}}},"responses":{"200":{"description":"Contact is already a member","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"member":{"$ref":"#/components/schemas/GroupMember"}}}}}},"201":{"description":"Member added","content":{"application/json":{"schema":{"type":"object","properties":{"member":{"$ref":"#/components/schemas/GroupMember"},"contact_created":{"type":"boolean","description":"Whether a new contact was created for this member"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"501":{"description":"Coming soon - endpoint temporarily disabled","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Coming soon"},"message":{"type":"string","example":"Adding group members is coming soon"}}}}}}}}},"/groups/{groupId}/members/{contactId}":{"delete":{"tags":["Group Members"],"summary":"Remove a member from a group (Coming Soon)","description":"⚠️ **COMING SOON** - This endpoint is temporarily disabled while we stabilize this feature.\n\nRemove a contact from a group. If the group is linked to an existing iMessage chat, also removes the participant from that chat. If the contact being removed is the organization's own phone number, leaves the group chat instead.","operationId":"removeGroupMember","parameters":[{"$ref":"#/components/parameters/GroupIdParam"},{"$ref":"#/components/parameters/ContactIdParam"}],"responses":{"200":{"description":"Member removed","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"removed_at":{"type":"integer","format":"int64"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"501":{"description":"Coming soon - endpoint temporarily disabled","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Coming soon"},"message":{"type":"string","example":"Removing group members is coming soon"}}}}}}}}},"/groups/{groupId}/icon":{"post":{"tags":["Groups"],"summary":"Set group icon","description":"Set the group icon/photo. Requires the group to have a linked chat_guid. Uses multipart/form-data.\n\nThe uploaded image is stored in Blooio storage and synced to the linked iMessage chat before the request returns.","operationId":"setGroupIcon","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["icon"],"properties":{"icon":{"type":"string","format":"binary","description":"The icon image file to set as the group photo"}}}}}},"responses":{"200":{"description":"Group icon set successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupIconResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"description":"Failed to update the linked iMessage chat","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active number available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Groups"],"summary":"Remove group icon","description":"Remove the group icon/photo. Requires the group to have a linked chat_guid.\n\nThe icon is removed from both Blooio storage and the linked iMessage chat before the request returns.","operationId":"removeGroupIcon","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"responses":{"200":{"description":"Group icon removed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupIconResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"description":"Failed to update the linked iMessage chat","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active number available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/webhooks":{"get":{"tags":["Webhooks"],"summary":"List webhooks","description":"List all webhooks for the organization.","operationId":"listWebhooks","responses":{"200":{"description":"List of webhooks","content":{"application/json":{"schema":{"type":"object","properties":{"webhooks":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["Webhooks"],"summary":"Create a webhook","description":"Create a new webhook subscription.","operationId":"createWebhook","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["webhook_url"],"properties":{"webhook_url":{"type":"string","format":"uri","description":"URL to receive webhook events","example":"https://example.com/webhook"},"webhook_type":{"type":"string","enum":["message","status","all"],"default":"message","description":"Type of events to receive"},"valid_until":{"type":"integer","format":"int64","description":"Expiration timestamp (-1 for no expiration)","default":-1}}}}}},"responses":{"200":{"description":"Webhook already exists (idempotent)","content":{"application/json":{"schema":{"type":"object","properties":{"webhook_id":{"type":"string"},"webhook_url":{"type":"string"},"scope":{"type":"string","enum":["api_key","organization"]},"message":{"type":"string"}}}}}},"201":{"description":"Webhook created. The signing_secret is shown only once - store it securely.","content":{"application/json":{"schema":{"type":"object","properties":{"webhook_id":{"type":"string"},"webhook_url":{"type":"string","format":"uri"},"webhook_type":{"type":"string","enum":["message","status","all"]},"scope":{"type":"string","enum":["api_key","organization"]},"created_at":{"type":"integer","format":"int64"},"signing_secret":{"type":"string","description":"The webhook signing secret. Store this securely - it will not be shown again."}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"409":{"description":"Webhook limit reached (max 64 per organization)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/webhooks/{webhookId}":{"get":{"tags":["Webhooks"],"summary":"Get a webhook","description":"Get details for a specific webhook.","operationId":"getWebhook","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"}],"responses":{"200":{"description":"Webhook details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"tags":["Webhooks"],"summary":"Update a webhook","description":"Update a webhook's configuration.","operationId":"updateWebhook","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"webhook_type":{"type":"string","enum":["message","status","all"],"description":"Type of events to receive"},"valid_until":{"type":"integer","format":"int64","description":"Expiration timestamp. Use -1 or null for no expiration."},"deprecate":{"type":"boolean","description":"Set to true to deprecate, false to undeprecate"}}}}}},"responses":{"200":{"description":"Webhook updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"delete":{"tags":["Webhooks"],"summary":"Delete a webhook","description":"Permanently delete a webhook.","operationId":"deleteWebhook","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"}],"responses":{"200":{"description":"Webhook deleted","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","example":"Webhook deleted"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/webhooks/{webhookId}/secret/rotate":{"post":{"tags":["Webhooks"],"summary":"Rotate webhook signing secret","description":"Generate a new signing secret for the webhook. The new secret is returned only once in this response - store it securely. The old secret becomes invalid immediately.","operationId":"rotateWebhookSecret","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"}],"responses":{"200":{"description":"Secret rotated successfully. The new secret is shown only once.","content":{"application/json":{"schema":{"type":"object","properties":{"webhook_id":{"type":"string"},"signing_secret":{"type":"string","description":"The new signing secret. Store this securely - it will not be shown again."},"rotated_at":{"type":"integer","format":"int64","description":"Timestamp when the secret was rotated"},"rotated_by":{"type":"string","description":"Identifier of who rotated the secret"},"rotation_count":{"type":"integer","description":"Total number of times this secret has been rotated"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/webhooks/{webhookId}/logs":{"get":{"tags":["Webhook Logs"],"summary":"List webhook logs","description":"List delivery logs for a specific webhook.","operationId":"listWebhookLogs","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/OffsetParam"},{"name":"sort","in":"query","description":"Sort order by attempted time","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"status","in":"query","description":"Filter by exact HTTP status code","schema":{"type":"integer"}},{"name":"min_status","in":"query","description":"Minimum HTTP status code","schema":{"type":"integer"}},{"name":"max_status","in":"query","description":"Maximum HTTP status code","schema":{"type":"integer"}}],"responses":{"200":{"description":"List of webhook logs","content":{"application/json":{"schema":{"type":"object","properties":{"logs":{"type":"array","items":{"$ref":"#/components/schemas/WebhookLog"}},"pagination":{"type":"object","properties":{"total":{"type":"integer","description":"Total number of matching logs"},"limit":{"type":"integer"},"offset":{"type":"integer"},"returned":{"type":"integer","description":"Number of logs returned in this response"},"has_more":{"type":"boolean","description":"Whether there are more logs to fetch"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/webhooks/{webhookId}/logs/{eventId}/replay":{"post":{"tags":["Webhook Logs"],"summary":"Replay a webhook event","description":"Re-send a webhook event to the configured URL.","operationId":"replayWebhookEvent","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"},{"name":"eventId","in":"path","required":true,"description":"Event ID to replay","schema":{"type":"string"}}],"responses":{"200":{"description":"Event replayed","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the replay received a 2xx response"},"replay_event_id":{"type":"string","description":"New event ID for this replay attempt"},"original_event_id":{"type":"string","description":"The original event ID that was replayed"},"webhook_id":{"type":"string"},"webhook_url":{"type":"string"},"response_status":{"type":"integer","description":"HTTP status code from replay attempt"},"duration_ms":{"type":"integer","description":"Time taken for the replay request in milliseconds"},"response_data":{"type":"object","description":"Response details from the replay attempt","properties":{"body":{"description":"Response body (if parseable)"},"headers":{"type":"object"},"size":{"type":"integer"},"contentType":{"type":"string"},"duration":{"type":"integer"},"error":{"type":"string","nullable":true},"errorType":{"type":"string","nullable":true}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/chats":{"get":{"tags":["Chats"],"summary":"List chats","description":"List all unique conversations for the organization, sorted by most recent message.","operationId":"listChats","parameters":[{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/OffsetParam"},{"name":"q","in":"query","description":"Search query (matches phone/email or contact name)","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort order","schema":{"type":"string","enum":["recent","oldest"],"default":"recent"}}],"responses":{"200":{"description":"List of chats","content":{"application/json":{"schema":{"type":"object","properties":{"chats":{"type":"array","items":{"$ref":"#/components/schemas/Chat"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/chats/{chatId}":{"get":{"tags":["Chats"],"summary":"Get a chat","description":"Get details for a specific conversation.","operationId":"getChat","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Chat details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatDetail"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/chats/{chatId}/messages":{"get":{"tags":["Messages"],"summary":"List messages in a chat","description":"List all messages in a conversation with optional filtering.","operationId":"listChatMessages","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/OffsetParam"},{"name":"sort","in":"query","description":"Sort order by time","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"direction","in":"query","description":"Filter by message direction","schema":{"type":"string","enum":["inbound","outbound"]}},{"name":"since","in":"query","description":"Only messages sent after this timestamp (ms)","schema":{"type":"integer","format":"int64"}},{"name":"until","in":"query","description":"Only messages sent before this timestamp (ms)","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"List of messages","content":{"application/json":{"schema":{"type":"object","properties":{"chat_id":{"type":"string"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/Message"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"tags":["Messages"],"summary":"Send a message","description":"Send a message to a chat. The chatId can be: (1) E.164 phone number, (2) email address, (3) group ID (grp_xxxx), or (4) comma-separated list of phone/email for multi-recipient chats. For multi-recipient, an unnamed group is automatically created or reused if the exact participant combination already exists. For explicit groups, the group must be linked to an existing iMessage chat.\n\n**iMessage send-with-effect:** set the optional `effect` field to attach an Apple expressive send (slam, loud, gentle, invisible-ink) or screen effect (echo, spotlight, balloons, confetti, love, lasers, fireworks, celebration). Effects are an iMessage-only feature — when the recipient is on SMS/RCS the message is delivered without the animation. Effects are not supported in multipart (`parts`) mode.\n\n**Threaded replies (iMessage inline reply):** set the optional `reply_to` field to send the outgoing message as a reply to a specific earlier message. Two shapes are accepted: `{ \"message_id\": \"msg_…\" }` references a Blooio-minted message in the same chat (most common — the message_id returned by an earlier send or surfaced on a `message.received` webhook), or `{ \"guid\": \"…\", \"part_index\": 0 }` references the raw iMessage GUID for the rare case where the parent wasn't recorded by Blooio. The reply must target the same chat and the same from-number as the new send, and the parent must be no older than 30 days (the iMessage on-device retention horizon). Reply support is iMessage-only and is rejected on Twilio, dashboard-Twilio, and hybrid send paths; it's also rejected on multi-message fan-outs (`text` array or per-part URL-balloon batch). See the `400` responses for the full set of `reply_target_*` error codes.","operationId":"sendMessage","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"name":"Idempotency-Key","in":"header","description":"Unique key to prevent duplicate message sends. If the same key is used again, the original message_id and status are returned.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMessageRequest"}}}},"responses":{"200":{"description":"Duplicate request (idempotency key matched)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMessageResponse"}}}},"202":{"description":"Message accepted for sending","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMessageResponse"}}}},"400":{"description":"Bad request. Threaded-reply failures use the response body's `code` field:\n- `reply_target_invalid` — `reply_to` was supplied but missing both `message_id` and `guid`, or the resolved parent has no provider GUID.\n- `reply_target_chat_mismatch` — the parent message lives in a different chat than the new send.\n- `reply_target_device_mismatch` — the parent was sent or received on a different line (allocation). Switch the from-number to match.\n- `reply_target_expired` — the parent is older than the 30-day iMessage on-device retention window and may have been purged from the device.\n- `reply_target_not_supported` — `reply_to` was used on a path that doesn't support inline replies (Twilio, hybrid, or multi-message fan-out).\n- Other validation failures (missing content, invalid recipient, etc.) — no `code` field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"ApiError","message":"You can only reply to messages from the last 30 days","status":400,"code":"reply_target_expired"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Forbidden. The response body's `code` field disambiguates the specific failure:\n- `inbound_only_no_prior_inbound` — the sender is on the Inbound plan and the recipient has never messaged this number first. Inbound numbers are reply-only. Body also includes `allocation_id` and `external_id`.\n- Emergency number\n- Integration-assigned number that can't be sent from manually","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"ApiError","message":"Inbound-only plan: outbound is restricted to contacts who messaged this number first.","status":403,"code":"inbound_only_no_prior_inbound","allocation_id":"alloc_...","external_id":"+15555550199"}}}},"404":{"description":"Not found. Threaded-reply failures use the response body's `code` field:\n- `reply_target_not_found` — `reply_to.message_id` did not match any message in this organization.\n- Other 404s (e.g., chat not found) have no `code`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"ApiError","message":"Reply target message not found","status":404,"code":"reply_target_not_found"}}}},"429":{"description":"Too many requests. Two possible `code`s on this endpoint:\n- `outbound_limit_reached` — org-level new-contact cap (configured in Settings) tripped. Body includes `limit`, `current`, `mode`, and on per-number mode `allocation_id` + `sender_number`.\n- `new_conversation_limit_reached` — shared plan's daily new-conversation cap reached. Body includes `plan_id`, `cap`, `current`. Existing conversations continue to send.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active number available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/chats/{chatId}/messages/{messageId}":{"get":{"tags":["Messages"],"summary":"Get a message","description":"Get details for a specific message.","operationId":"getMessage","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"$ref":"#/components/parameters/MessageIdParam"}],"responses":{"200":{"description":"Message details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDetail"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/chats/{chatId}/messages/{messageId}/status":{"get":{"tags":["Messages"],"summary":"Get message status","description":"Get delivery status for a specific message.","operationId":"getMessageStatus","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"$ref":"#/components/parameters/MessageIdParam"}],"responses":{"200":{"description":"Message status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageStatus"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/chats/{chatId}/messages/{messageId}/reactions":{"post":{"tags":["Reactions"],"summary":"Add or remove a reaction","description":"Add or remove a reaction to a message. Supports classic iMessage tapbacks (love, like, dislike, laugh, emphasize, question) and emoji reactions (e.g. +😂, -😂).\n\nThe messageId can be an explicit message ID (e.g., msg_xxx) or a relative index (-1 for last message, -2 for second-to-last, etc.). When using relative indices, you can optionally filter by message direction (inbound/outbound only).","operationId":"addReaction","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"name":"messageId","in":"path","required":true,"description":"Message ID (e.g., msg_xxx) or relative index (-1, -2, etc.)","schema":{"type":"string"},"examples":{"explicit":{"value":"msg_abc123def456","summary":"Explicit message ID"},"lastMessage":{"value":"-1","summary":"Last message in chat"},"secondToLast":{"value":"-2","summary":"Second-to-last message"}}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionRequest"}}}},"responses":{"200":{"description":"Reaction added or removed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"description":"Temporary communication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Device not available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/chats/{chatId}/polls":{"post":{"tags":["Polls"],"summary":"Send a poll","description":"Send a native iMessage poll to a chat. The poll appears as an interactive ballot that recipients can vote on.","operationId":"sendPoll","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["options"],"properties":{"title":{"type":"string","description":"Poll question or title (optional)"},"options":{"type":"array","description":"Array of 2-10 option strings for the poll","items":{"type":"string"},"minItems":2,"maxItems":10}}}}}},"responses":{"200":{"description":"Poll sent successfully","content":{"application/json":{"schema":{"type":"object","properties":{"poll_id":{"type":"string","description":"Unique identifier for the poll"},"chat_id":{"type":"string"},"poll":{"type":"object","properties":{"title":{"type":"string"},"options":{"type":"array","items":{"type":"string"}}}},"sent_at":{"type":"number"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Device unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active device available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/chats/{chatId}/polls/{pollId}":{"get":{"tags":["Polls"],"summary":"Get poll results","description":"Retrieve a poll's definition and aggregated vote counts. The pollId is the poll_id returned in the poll.received or poll.created webhook event.","operationId":"getPollResults","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"name":"pollId","in":"path","required":true,"description":"The poll ID","schema":{"type":"string"}}],"responses":{"200":{"description":"Poll results","content":{"application/json":{"schema":{"type":"object","properties":{"poll_id":{"type":"string"},"chat_id":{"type":"string"},"title":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string"},"votes":{"type":"integer"}}}},"total_votes":{"type":"integer"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/chats/{chatId}/typing":{"post":{"tags":["Typing Indicators"],"summary":"Start typing indicator","description":"Start the typing indicator for a chat. The indicator shows the recipient that you are typing. Works for both 1:1 chats (pass a phone number or email as `chatId`) and group chats (pass the group ID, e.g. `grp_...`); in a group every participant sees the indicator.\n\n**RCS limitation:** typing indicators are only delivered for iMessage chats — the RCS protocol does not carry composing state. Calls against RCS-routed chats return 200 with a `warning` field and have no visible effect on the recipient.","operationId":"startTyping","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Typing indicator started","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TypingResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Temporary communication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active number available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Typing Indicators"],"summary":"Stop typing indicator","description":"Stop the typing indicator for a chat. Works for both 1:1 chats (pass a phone number or email as `chatId`) and group chats (pass the group ID, e.g. `grp_...`).\n\n**RCS limitation:** typing indicators are only delivered for iMessage chats — the RCS protocol does not carry composing state. Calls against RCS-routed chats return 200 with a `warning` field and have no visible effect on the recipient.","operationId":"stopTyping","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Typing indicator stopped","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TypingResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Temporary communication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active number available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/chats/{chatId}/read":{"post":{"tags":["Read Receipts"],"summary":"Mark chat as read","description":"Mark all messages in a chat as read. This sends a read receipt to the sender.","operationId":"markChatRead","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Chat marked as read","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"description":"Temporary communication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/chats/{chatId}/contact-card":{"post":{"tags":["Contact Card"],"summary":"Share contact card","description":"Stage the contact card (Name & Photo) for sharing in a chat. The contact card will be piggybacked onto the next outgoing message (text or attachment) sent to this chat. This is idempotent — calling it multiple times is harmless.\n\n⚠️ **Plan requirement:** Contact card sharing is only available on **Dedicated Commercial** and **Dedicated Enterprise** plans. Numbers on other plans receive a `403`.","operationId":"shareContactCard","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Contact card staged for sharing","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"chat_id":{"type":"string","description":"Normalized chat identifier"},"message":{"type":"string","example":"Contact card staged. It will be sent with the next outgoing message in this chat."}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Temporary communication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active number available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/chats/{chatId}/background":{"get":{"tags":["Chats"],"summary":"Get chat background","description":"Get the current background image metadata for a conversation. Works for both 1-on-1 and group chats.","operationId":"getChatBackground","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Chat background details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatBackgroundResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Temporary communication error with device","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active number available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Chats"],"summary":"Set chat background","description":"Set or update the background image for a conversation. Works for both 1-on-1 and group chats.\n\nThe request body must be `multipart/form-data` with a single `background` field containing the **raw image file bytes** (not a URL or base64 string). Supported formats: JPEG, PNG, GIF, WebP, HEIC/HEIF. Maximum file size: 10 MB.\n\n**Example with curl** — note the `@` prefix that tells curl to read the file from disk:\n\n```bash\ncurl -X PUT \"https://api.blooio.com/v2/api/chats/%2B15551234567/background\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -F \"background=@/path/to/image.jpg;type=image/jpeg\"\n```\n\nWhen the chat id is a phone number, percent-encode the leading `+` as `%2B` in the URL path.","operationId":"setChatBackground","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["background"],"properties":{"background":{"type":"string","format":"binary","description":"Binary image file upload (JPEG, PNG, GIF, WebP, HEIC/HEIF, max 10 MB). Send as a file field in `multipart/form-data` — e.g. `-F \"background=@/path/to/image.jpg\"` with curl, or a `File`/`Blob` appended to `FormData` in JavaScript. Do NOT send a URL or base64 string."}}}}}},"responses":{"200":{"description":"Chat background set successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatBackgroundResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Failed to set background on device","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active number available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Chats"],"summary":"Remove chat background","description":"Remove the background image from a conversation, reverting to the default appearance.","operationId":"removeChatBackground","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Chat background removed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatBackgroundResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Failed to remove background on device","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"No active number available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/phone-numbers/lookup":{"get":{"tags":["Phone Numbers"],"summary":"Look up a phone number","description":"Returns detailed information about a phone number including validation, formatting (E.164, national, international), number type, and NANPA geocoding (city, state/province) for North American numbers. The geocoding data is sourced from different database with 240,000+ NPA-NXX entries.\n\n**Requires an Enterprise plan** (Dedicated Enterprise). Returns 403 if your organization does not have an active enterprise subscription.","operationId":"lookupPhoneNumber","parameters":[{"name":"number","in":"query","required":true,"description":"Phone number to look up. Can be E.164 format (+12125551234), national format (2125551234), or with formatting ((212) 555-1234).","schema":{"type":"string","example":"+12125551234"}}],"responses":{"200":{"description":"Phone number information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneNumberLookupResult"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Enterprise plan required. Upgrade to Dedicated Enterprise to access this endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Phone Numbers"],"summary":"Look up a phone number","description":"Same as the GET endpoint, but accepts the phone number in the request body. Useful when the number contains characters that are difficult to URL-encode.\n\n**Requires an Enterprise plan** (Dedicated Enterprise).","operationId":"lookupPhoneNumberPost","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["number"],"properties":{"number":{"type":"string","description":"Phone number to look up","example":"+12125551234"}}}}}},"responses":{"200":{"description":"Phone number information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneNumberLookupResult"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Enterprise plan required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/phone-numbers/batch":{"post":{"tags":["Phone Numbers"],"summary":"Batch look up phone numbers","description":"Look up multiple phone numbers in a single request. Returns the same detailed information as the single lookup endpoint for each number. Maximum 100 numbers per request.\n\n**Requires an Enterprise plan** (Dedicated Enterprise).","operationId":"batchLookupPhoneNumbers","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["numbers"],"properties":{"numbers":{"type":"array","items":{"type":"string"},"minItems":1,"maxItems":100,"description":"Array of phone numbers to look up","example":["+12125551234","+14155551234","+18582849901"]}}}}}},"responses":{"200":{"description":"Batch lookup results","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/PhoneNumberLookupResult"}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Enterprise plan required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","description":"API key authentication. Use your API key as the bearer token."}},"parameters":{"LimitParam":{"name":"limit","in":"query","description":"Maximum number of items to return in a single response. Must be between 1 and 200; defaults to 50. Use together with `offset` to page through large result sets.","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},"OffsetParam":{"name":"offset","in":"query","description":"Number of items to skip before returning results. Combine with `limit` for page-based pagination (e.g. `offset=50&limit=50` returns the second page). Defaults to 0.","schema":{"type":"integer","minimum":0,"default":0}},"ContactIdParam":{"name":"contactId","in":"path","required":true,"description":"Contact identifier (phone number in E.164 format or email, URL-encoded)","schema":{"type":"string"},"example":"%2B15551234567"},"GroupIdParam":{"name":"groupId","in":"path","required":true,"description":"Unique identifier of the group chat, prefixed with `grp_` (e.g. `grp_abc123def456`). Returned by the create-group and list-groups endpoints.","schema":{"type":"string","pattern":"^grp_[a-zA-Z0-9]+$"},"example":"grp_abc123def456"},"WebhookIdParam":{"name":"webhookId","in":"path","required":true,"description":"Unique identifier of the webhook subscription, prefixed with `wh_` (e.g. `wh_abc123def456`). Returned when you create or list webhooks.","schema":{"type":"string","pattern":"^wh_[a-zA-Z0-9]+$"},"example":"wh_abc123def456"},"ChatIdParam":{"name":"chatId","in":"path","required":true,"description":"Chat identifier. Can be: (1) phone number in E.164 format (e.g., +15551234567), (2) email address, (3) group ID (grp_xxxx), or (4) comma-separated list of phone numbers/emails for multi-recipient group chats (e.g., +15551234567,+15559876543). All values should be URL-encoded.","schema":{"type":"string"},"examples":{"phone":{"value":"%2B15551234567","summary":"Phone number (URL-encoded)"},"email":{"value":"user%40example.com","summary":"Email address (URL-encoded)"},"group":{"value":"grp_abc123def456","summary":"Group ID"},"multi":{"value":"%2B15551234567%2C%2B15559876543","summary":"Multiple recipients (comma-separated, URL-encoded)"}}},"MessageIdParam":{"name":"messageId","in":"path","required":true,"description":"Unique identifier of the message, prefixed with `msg_` (e.g. `msg_abc123def456`). Returned in the response when you send a message and in inbound message webhooks.","schema":{"type":"string"},"example":"msg_abc123def456"}},"responses":{"Unauthorized":{"description":"Authentication required or invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"BadRequest":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotFound":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"schemas":{"PhoneNumberLookupResult":{"type":"object","properties":{"input":{"type":"string","description":"The original input string","example":"+12125551234"},"valid":{"type":"boolean","description":"Whether the phone number is valid"},"possible":{"type":"boolean","description":"Whether the phone number is a possible number (less strict than valid)"},"e164":{"type":"string","description":"E.164 formatted number","example":"+12125551234"},"national":{"type":"string","description":"National formatted number","example":"(212) 555-1234"},"international":{"type":"string","description":"International formatted number","example":"+1 212 555 1234"},"country_calling_code":{"type":"string","description":"Country calling code without +","example":"1"},"country":{"type":"string","nullable":true,"description":"ISO 3166-1 alpha-2 country code","example":"US"},"national_number":{"type":"string","description":"National number without country code","example":"2125551234"},"type":{"type":"string","nullable":true,"description":"Number type detected by libphonenumber","enum":["FIXED_LINE","MOBILE","FIXED_LINE_OR_MOBILE","TOLL_FREE","PREMIUM_RATE","SHARED_COST","VOIP","PERSONAL_NUMBER","PAGER","UAN","VOICEMAIL"],"example":"FIXED_LINE_OR_MOBILE"},"location":{"type":"object","nullable":true,"description":"NANPA geocoding location (only for North American numbers with country code 1)","properties":{"city":{"type":"string","nullable":true,"description":"City name","example":"New York"},"region":{"type":"string","nullable":true,"description":"State/province abbreviation","example":"NY"},"region_name":{"type":"string","nullable":true,"description":"Full state/province name","example":"New York"}}},"area_code":{"type":"string","description":"NPA area code (first 3 digits of national number, only for NANP numbers)","example":"212"},"exchange":{"type":"string","description":"NXX exchange code (digits 4-6 of national number, only for NANP numbers)","example":"555"},"area_code_region":{"type":"string","description":"General region for the area code (most common city, only for NANP numbers)","example":"New York, NY"}}},"ContactLocation":{"type":"object","properties":{"handle":{"type":"string","description":"Contact's phone number or email"},"coordinates":{"type":"array","items":{"type":"number"},"description":"GPS coordinates [latitude, longitude]"},"status":{"type":"string","description":"Location status (e.g., 'live', 'shallow', 'legacy')"},"last_updated":{"type":"integer","format":"int64","description":"Timestamp of last location update (epoch ms)"}}},"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error class identifier (typically `ApiError`)."},"message":{"type":"string","description":"Human-readable explanation of the failure."},"status":{"type":"integer","description":"HTTP status code"},"code":{"type":"string","description":"Machine-readable error code for programmatic handling (e.g. `inbound_only_no_prior_inbound`, `outbound_limit_reached`, `attachment_first_message_not_allowed`). Switch on `code`, not on `message`. Present on all known/structured error cases."}}},"Pagination":{"type":"object","properties":{"limit":{"type":"integer"},"offset":{"type":"integer"},"total":{"type":"integer"}}},"DeleteResponse":{"type":"object","properties":{"success":{"type":"boolean"},"deleted_at":{"type":"integer","format":"int64"}}},"MeResponse":{"type":"object","description":"Response depends on auth_type. For 'api_key': includes full API key details. For 'dashboard': includes user_id and organization info only.","properties":{"auth_type":{"type":"string","enum":["api_key","dashboard"],"description":"Type of authentication used"},"valid":{"type":"boolean","description":"Whether the API key is valid (only for api_key auth)"},"user_id":{"type":"string","nullable":true,"description":"User ID (only for dashboard auth)"},"api_key":{"type":"string","description":"The API key (only for api_key auth)"},"organization_id":{"type":"string","description":"Organization ID (only for api_key auth)"},"organization":{"type":"object","properties":{"organization_id":{"type":"string"},"name":{"type":"string"},"country_code":{"type":"string","nullable":true},"created_at":{"type":"integer","format":"int64"}}},"metadata":{"type":"object","description":"API key metadata (only for api_key auth)"},"integration_details":{"type":"object","nullable":true,"description":"Integration details if the API key is associated with an integration (only for api_key auth)"},"devices":{"type":"array","description":"List of devices associated with this API key (only for api_key auth)","items":{"type":"object","properties":{"phone_number":{"type":"string","nullable":true,"description":"Phone number assigned to this device (E.164 format)"},"is_active":{"type":"boolean"},"last_active":{"type":"integer","format":"int64","nullable":true},"plan_kind":{"type":"string","nullable":true,"enum":["shared","dedicated","inbound","trial","2fa",null],"description":"Plan type the underlying allocation runs on. `inbound` numbers are reply-only — see `/me/numbers` for details."}}}},"usage":{"type":"object","description":"Usage statistics (only for api_key auth)","properties":{"inbound_messages":{"type":"integer"},"outbound_messages":{"type":"integer"},"last_message_sent":{"type":"integer","format":"int64","nullable":true}}}}},"Contact":{"type":"object","properties":{"id":{"type":"string","description":"Contact identifier (phone or email)"},"contact_id":{"type":"string","description":"Internal contact ID"},"identifier":{"type":"string","description":"Phone number (E.164) or email"},"name":{"type":"string","nullable":true},"type":{"type":"string","enum":["phone","email"]},"created_at":{"type":"integer","format":"int64"},"last_message_time":{"type":"integer","format":"int64","nullable":true},"tags":{"type":"array","items":{"type":"string"}}}},"Group":{"type":"object","properties":{"group_id":{"type":"string"},"name":{"type":"string","nullable":true,"description":"Group name. Null for unnamed groups."},"chat_guid":{"type":"string","nullable":true,"description":"BlueBubbles chat GUID if linked to a device group chat"},"icon_url":{"type":"string","nullable":true,"description":"URL of the group icon/photo"},"member_count":{"type":"integer"},"message_count":{"type":"integer","description":"Total number of messages in this group"},"last_message_text":{"type":"string","nullable":true,"description":"Text of the most recent message in the group"},"last_message_time":{"type":"integer","format":"int64","nullable":true,"description":"Timestamp of the most recent message"},"last_message_direction":{"type":"string","enum":["inbound","outbound"],"nullable":true,"description":"Direction of the most recent message"},"created_at":{"type":"integer","format":"int64"}}},"GroupMember":{"type":"object","properties":{"id":{"type":"string","description":"Contact identifier (phone or email)"},"contact_id":{"type":"string"},"identifier":{"type":"string"},"name":{"type":"string","nullable":true},"added_at":{"type":"integer","format":"int64"}}},"GroupIconResponse":{"type":"object","description":"Response for group icon operations","properties":{"success":{"type":"boolean"},"group_id":{"type":"string"},"chat_guid":{"type":"string","description":"The BlueBubbles chat GUID"},"icon_url":{"type":"string","description":"URL of the uploaded icon (only present on set)"},"device_sync":{"type":"object","description":"Linked chat sync status","properties":{"chat_guid":{"type":"string"},"synced":{"type":"boolean","description":"Whether the icon change was synced to the linked iMessage chat. This will be true on successful set/remove operations."},"message":{"type":"string","description":"Status message about linked chat sync"}}},"message":{"type":"string"}}},"ChatBackgroundResponse":{"type":"object","description":"Response for chat background operations","properties":{"chat_id":{"type":"string","description":"Normalized chat identifier (phone number, email, or group ID)"},"has_background":{"type":"boolean","description":"Whether the chat currently has a background set"},"background_id":{"type":"string","nullable":true,"description":"Unique identifier for the current background, or null if none"},"background_url":{"type":"string","format":"uri","nullable":true,"description":"Public URL of the persisted background image stored in R2. Returned after a successful PUT and on GET when a background has been set through the API. May be null if persistence failed or the background was set outside of the API."},"background_version":{"type":"integer","nullable":true,"description":"Version number of the background (for cache invalidation)"},"changed":{"type":"boolean","description":"Whether the background was changed by this operation (only present on PUT)"}}},"DeviceSyncResult":{"type":"object","description":"Result of syncing the operation to a linked iMessage chat","properties":{"chat_guid":{"type":"string","description":"The linked iMessage chat GUID"},"action":{"type":"string","enum":["add_participant","remove_participant","leave"],"description":"The action that was performed for the linked chat"},"synced":{"type":"boolean","description":"Whether the sync was successful"},"error":{"type":"string","nullable":true,"description":"Error message if sync failed"}}},"Webhook":{"type":"object","properties":{"webhook_id":{"type":"string"},"webhook_url":{"type":"string","format":"uri"},"webhook_type":{"type":"string","enum":["message","status","all"]},"scope":{"type":"string","enum":["api_key","organization","integration"]},"api_key_name":{"type":"string","nullable":true,"description":"Name of the API key (if scope is api_key)"},"integration_name":{"type":"string","nullable":true,"description":"Name of the integration (if scope is integration)"},"created_at":{"type":"integer","format":"int64"},"deprecated_at":{"type":"integer","format":"int64","nullable":true},"valid_until":{"type":"integer","format":"int64","description":"-1 means no expiration"},"last_triggered":{"type":"integer","format":"int64","nullable":true},"failure_count":{"type":"integer"},"is_active":{"type":"boolean","description":"Whether the webhook is active (not deprecated)"}}},"WebhookLog":{"type":"object","properties":{"event_id":{"type":"string"},"scope":{"type":"string","enum":["api","integration","org"]},"attempted_time":{"type":"integer","format":"int64"},"response_received_at":{"type":"integer","format":"int64","nullable":true},"webhook_url":{"type":"string"},"event_body":{"$ref":"#/components/schemas/WebhookEventPayload"},"response_status":{"type":"integer","nullable":true,"description":"HTTP status code received from the webhook endpoint"},"response_json":{"type":"object","nullable":true,"description":"Response body from the webhook endpoint (if JSON)"},"metadata":{"type":"object","description":"Additional metadata about the webhook delivery","properties":{"organization_id":{"type":"string"},"event_name":{"type":"string"},"message_id":{"type":"string"},"is_replay":{"type":"boolean"},"original_event_id":{"type":"string"},"duration_ms":{"type":"integer"}}}}},"WebhookEventPayload":{"type":"object","description":"Webhook event payload. Structure varies by event type. All message events include group information when applicable.","properties":{"event":{"type":"string","description":"Event type (e.g., message.received, message.sent, message.delivered, message.failed, message.read)","example":"message.sent"},"message_id":{"type":"string","description":"Unique message identifier"},"external_id":{"type":"string","description":"Recipient identifier (phone number, email, or group ID)"},"status":{"type":"string","description":"Message status carried by the event. `queued` / `pending` = accepted, not yet handed off; `sent` = handed to Apple/the carrier; `delivered` = a delivery receipt was received; `read` = a read receipt was received (iMessage, when the recipient has read receipts on); `failed` = delivery failed (see `error_code` / `error_message`); `received` = an inbound message arrived.","enum":["queued","pending","sent","delivered","failed","read","received"]},"protocol":{"type":"string","description":"Transport used to carry the message; never null. `pending` = accepted and dispatched, wire service not resolved yet (settles within seconds of send); `imessage` = delivered over iMessage (blue bubble); `rcs` = delivered over RCS; `sms` = fell back to SMS/MMS (green bubble); `unknown` = accepted by the carrier but the wire service could not be resolved before the tracking window closed (see `error`).","enum":["pending","unknown","imessage","sms","rcs"]},"timestamp":{"type":"integer","format":"int64","description":"Event timestamp in milliseconds"},"internal_id":{"type":"string","nullable":true,"description":"Phone number that sent/received the message"},"text":{"type":"string","nullable":true,"description":"Message text content"},"attachments":{"type":"array","nullable":true,"description":"Array of attachment objects","items":{"type":"object","properties":{"url":{"type":"string"},"name":{"type":"string","nullable":true}}}},"is_group":{"type":"boolean","description":"Whether this message is from/to a group chat. Always present."},"group_id":{"type":"string","nullable":true,"description":"Group ID (only present when is_group=true)"},"group_name":{"type":"string","nullable":true,"description":"Group display name (only present when is_group=true)"},"participants":{"type":"array","nullable":true,"description":"Array of group participants (only present when is_group=true)","items":{"type":"object","properties":{"contact_id":{"type":"string"},"identifier":{"type":"string"},"name":{"type":"string","nullable":true}}}},"sender":{"type":"string","nullable":true,"description":"Sender identifier (for inbound messages)"},"sent_at":{"type":"integer","format":"int64","nullable":true,"description":"Timestamp when message was sent (for message.sent events)"},"delivered_at":{"type":"integer","format":"int64","nullable":true,"description":"Timestamp when message was delivered (for message.delivered events)"},"read_at":{"type":"integer","format":"int64","nullable":true,"description":"Timestamp when message was read (for message.read events)"},"error_code":{"type":"string","nullable":true,"description":"Error code (for message.failed events)"},"error_message":{"type":"string","nullable":true,"description":"Error description (for message.failed events)"}}},"Chat":{"type":"object","properties":{"id":{"type":"string","description":"Chat identifier (phone number, email, or group ID)"},"type":{"type":"string","enum":["phone","email","group"]},"is_group":{"type":"boolean","description":"Whether this is a group chat"},"group_id":{"type":"string","nullable":true,"description":"Group ID (only for group chats)"},"group_name":{"type":"string","nullable":true,"description":"Group name (only for group chats)"},"member_count":{"type":"integer","description":"Number of members (only for group chats)"},"contact":{"type":"object","nullable":true,"description":"Contact info (only for non-group chats)","properties":{"contact_id":{"type":"string"},"name":{"type":"string","nullable":true},"identifier":{"type":"string"}}},"message_count":{"type":"integer"},"inbound_count":{"type":"integer"},"outbound_count":{"type":"integer"},"background_url":{"type":"string","format":"uri","nullable":true,"description":"Public URL of the chat background image (if one has been set via the API)"},"background_id":{"type":"string","nullable":true,"description":"Identifier for the active chat background"},"last_message_time":{"type":"integer","format":"int64"},"last_inbound_time":{"type":"integer","format":"int64","nullable":true},"last_outbound_time":{"type":"integer","format":"int64","nullable":true},"last_message":{"$ref":"#/components/schemas/LastMessage"}}},"ChatDetail":{"type":"object","properties":{"id":{"type":"string","description":"Chat identifier (phone number, email, or group ID)"},"type":{"type":"string","enum":["phone","email","group"]},"is_group":{"type":"boolean","description":"Whether this is a group chat"},"group_id":{"type":"string","nullable":true,"description":"Group ID (only for group chats)"},"group_name":{"type":"string","nullable":true,"description":"Group name (only for group chats)"},"member_count":{"type":"integer","description":"Number of members (only for group chats)"},"contact":{"type":"object","nullable":true,"description":"Contact info (only for non-group chats)","properties":{"contact_id":{"type":"string"},"name":{"type":"string","nullable":true},"identifier":{"type":"string"}}},"message_count":{"type":"integer"},"inbound_count":{"type":"integer"},"outbound_count":{"type":"integer"},"background_url":{"type":"string","format":"uri","nullable":true,"description":"Public URL of the chat background image (if one has been set via the API)"},"background_id":{"type":"string","nullable":true,"description":"Identifier for the active chat background"},"first_message_time":{"type":"integer","format":"int64"},"last_message_time":{"type":"integer","format":"int64"},"last_inbound_time":{"type":"integer","format":"int64","nullable":true},"last_outbound_time":{"type":"integer","format":"int64","nullable":true},"last_message":{"$ref":"#/components/schemas/LastMessage"}}},"LastMessage":{"type":"object","properties":{"message_id":{"type":"string"},"text":{"type":"string","nullable":true},"direction":{"type":"string","enum":["inbound","outbound"]},"time_sent":{"type":"integer","format":"int64"}}},"Message":{"type":"object","properties":{"message_id":{"type":"string"},"direction":{"type":"string","enum":["inbound","outbound"]},"external_id":{"type":"string","description":"Phone number or email of the contact, or group ID for group messages"},"internal_id":{"type":"string","nullable":true,"description":"Organization phone number (from-number) used for this message"},"text":{"type":"string","nullable":true},"attachments":{"type":"array","items":{"type":"object"}},"sender":{"type":"string","nullable":true,"description":"Sender's phone number or email for inbound group messages. Null for outbound messages and 1-1 chats."},"reactions":{"type":"array","description":"Reactions on this message (tapbacks and emoji reactions)","items":{"$ref":"#/components/schemas/Reaction"}},"time_sent":{"type":"integer","format":"int64"},"time_delivered":{"type":"integer","format":"int64","nullable":true},"status":{"type":"string","description":"Delivery lifecycle state. `pending` = persisted and being prepared for dispatch; `queued` = accepted and waiting to be handed to Apple/the carrier; `sent` = handed off to Apple/the carrier (protocol resolution happens around here); `delivered` = a delivery receipt was received; `failed` = could not be delivered (see `error`); `cancellation_requested` = a cancel was requested for a still-queued message (best-effort); `cancelled` = cancelled before dispatch. Inbound messages are surfaced via webhooks with `received`; read receipts arrive as a `read` event.","enum":["pending","queued","sent","delivered","failed","cancellation_requested","cancelled"],"nullable":true},"protocol":{"type":"string","description":"Transport used to carry the message; never null. `pending` = accepted and dispatched, wire service not resolved yet (settles within seconds of send); `imessage` = delivered over iMessage (blue bubble); `rcs` = delivered over RCS; `sms` = fell back to SMS/MMS (green bubble); `unknown` = accepted by the carrier but the wire service could not be resolved before the tracking window closed (see `error`).","enum":["pending","unknown","imessage","sms","rcs"]},"error":{"type":"string","nullable":true},"reply_to":{"allOf":[{"$ref":"#/components/schemas/ReplyToInfo"}],"nullable":true,"description":"Present only on inline-reply messages. Omitted entirely for top-level messages."}}},"MessageDetail":{"type":"object","properties":{"message_id":{"type":"string"},"chat_id":{"type":"string"},"direction":{"type":"string","enum":["inbound","outbound"]},"internal_id":{"type":"string","nullable":true,"description":"Organization phone number (from-number) used for this message"},"contact":{"type":"object","nullable":true,"properties":{"contact_id":{"type":"string"},"name":{"type":"string","nullable":true},"identifier":{"type":"string","description":"The contact's phone number or email"}}},"sender":{"type":"string","nullable":true,"description":"Sender's phone number or email for inbound group messages. Null for outbound messages and 1-1 chats."},"text":{"type":"string","nullable":true},"attachments":{"type":"array","items":{"type":"object"}},"reactions":{"type":"array","description":"Reactions on this message (tapbacks and emoji reactions)","items":{"$ref":"#/components/schemas/Reaction"}},"time_sent":{"type":"integer","format":"int64"},"time_delivered":{"type":"integer","format":"int64","nullable":true},"status":{"type":"string","description":"Delivery lifecycle state. `pending` = persisted and being prepared for dispatch; `queued` = accepted and waiting to be handed to Apple/the carrier; `sent` = handed off to Apple/the carrier (protocol resolution happens around here); `delivered` = a delivery receipt was received; `failed` = could not be delivered (see `error`); `cancellation_requested` = a cancel was requested for a still-queued message (best-effort); `cancelled` = cancelled before dispatch. Inbound messages are surfaced via webhooks with `received`; read receipts arrive as a `read` event.","enum":["pending","queued","sent","delivered","failed","cancellation_requested","cancelled"],"nullable":true},"protocol":{"type":"string","description":"Transport used to carry the message; never null. `pending` = accepted and dispatched, wire service not resolved yet (settles within seconds of send); `imessage` = delivered over iMessage (blue bubble); `rcs` = delivered over RCS; `sms` = fell back to SMS/MMS (green bubble); `unknown` = accepted by the carrier but the wire service could not be resolved before the tracking window closed (see `error`).","enum":["pending","unknown","imessage","sms","rcs"]},"error":{"type":"string","nullable":true},"reply_to":{"allOf":[{"$ref":"#/components/schemas/ReplyToInfo"}],"nullable":true,"description":"Present only on inline-reply messages. Omitted entirely for top-level messages."}}},"ReplyToInfo":{"type":"object","description":"Inline-reply parent reference. Identical shape on `message.received` webhooks and on every GET endpoint that returns a single message or a list of messages.","required":["message_id","guid","part_index"],"properties":{"message_id":{"type":"string","nullable":true,"description":"The Blooio `message_id` of the parent message. NULL when the parent isn't in our `messages` table (e.g., the original was sent from outside Blooio's pipeline)."},"guid":{"type":"string","nullable":true,"description":"The raw iMessage GUID of the parent. Always populated on real inline replies; the on-device record-of-truth identifier that survives even when `message_id` cannot be resolved."},"part_index":{"type":"integer","minimum":0,"default":0,"description":"Which part of the parent was replied to. 0 for the common single-part case."}}},"ReplyToRequest":{"type":"object","description":"Inline-reply target on `POST /chats/{chatId}/messages`. Pass either `message_id` (preferred — references a Blooio-minted message) or `guid` (raw iMessage GUID, useful for replying to messages received before the row was minted in Blooio). The new send is dispatched to Lava with the resolved `selectedMessageGuid` + `partIndex`, which iMessage renders as an inline reply on the recipient's device.","properties":{"message_id":{"type":"string","description":"Blooio `message_id` of the parent. Must belong to the same chat, same from-number, and be no older than 30 days. Returns 404 `reply_target_not_found` if unknown."},"guid":{"type":"string","description":"Raw iMessage GUID of the parent. When supplied without a `message_id`, Blooio attempts to look up the parent via `provider_message_guid`; if the parent isn't in our table the send still proceeds (Lava will thread on the device when possible) and the response carries `parent_unresolved: true`."},"part_index":{"type":"integer","minimum":0,"default":0,"description":"Which part of the parent to reply to. Defaults to 0 (covers the 99% case of replying to a single-part text message)."}}},"Reaction":{"type":"object","properties":{"reaction":{"type":"string","description":"The reaction value. Classic tapbacks: love, like, dislike, laugh, emphasize, question. Emoji reactions: the emoji character (e.g. 😂, 👍)."},"is_added":{"type":"boolean","description":"Whether the reaction is currently active (true) or was removed (false)"},"time_sent":{"type":"integer","format":"int64","description":"Timestamp when the reaction was sent (ms)"},"sender":{"type":"string","nullable":true,"description":"Phone number or email of who sent the reaction. Null when the reaction was sent by you (outbound)."}}},"SendMessageRequest":{"type":"object","description":"Request body for sending a message","properties":{"text":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Message text. Can be a single string or array of strings (each becomes a separate message)"},"attachments":{"type":"array","items":{"oneOf":[{"type":"string","description":"URL to the attachment"},{"type":"object","properties":{"url":{"type":"string"},"name":{"type":"string"}},"required":["url"]}]},"description":"Array of attachment URLs or objects with url/name"},"use_typing_indicator":{"type":"boolean","description":"Whether to show typing indicator before sending. Defaults to org preference."},"from_number":{"type":"string","description":"E.164 phone number to send from. For Twilio API keys, this is optional — if omitted, the first assigned Twilio number is auto-selected. For Blooio (iMessage) API keys, this selects a specific number from your pool. Must be a number assigned to your API key."},"share_contact":{"type":"boolean","description":"If true, the contact card (Name & Photo) will be shared with this message. The contact card is piggybacked onto the outgoing message. Defaults to false. ⚠️ Only available on **Dedicated Commercial** and **Dedicated Enterprise** plans — other plans receive a `403`.","default":false},"parts":{"type":"array","description":"Ordered array of message parts. Two modes:\n\n  1. **Multipart mode** — parts sent as a single unified iMessage bubble (mix of text and attachment parts). This is the default.\n  2. **URL-balloon batch mode** — triggered when any part has a `link_preview` object. Each part becomes its own rich-link-preview iMessage; parts are sent sequentially in array order. In batch mode every part must be text-only with `text` being a single http(s) URL. Response contains `message_ids[]` + `count` instead of `message_id`.","items":{"type":"object","properties":{"text":{"type":"string","description":"Text content for this part. Mutually exclusive with 'url'."},"mention":{"type":"string","description":"Participant phone number or email to @-mention. Only valid with 'text'. The entire text of the part is rendered as the mention."},"url":{"type":"string","description":"URL to an attachment for this part. Mutually exclusive with 'text'."},"name":{"type":"string","description":"Filename for the attachment. Only valid with 'url'."},"link_preview":{"nullable":true,"description":"Optional. Per-part rich-link-preview override. When any part carries this, every part must be a text-only single-URL part (URL-balloon batch mode).","allOf":[{"$ref":"#/components/schemas/LinkPreview"}]}}}},"link_preview":{"nullable":true,"description":"Optional. Override the rich-link-preview image and/or title on URL messages. See the LinkPreview schema. When omitted, Blooio auto-generates the preview from the page's Open Graph tags.","allOf":[{"$ref":"#/components/schemas/LinkPreview"}]},"effect":{"type":"string","nullable":true,"enum":["slam","loud","gentle","invisible-ink","echo","spotlight","balloons","confetti","love","lasers","fireworks","celebration","none"],"description":"Optional. Attach an iMessage send-with-effect to the outgoing message.\n\n**Bubble effects** (apply to a single text bubble):\n- `slam` — Slam\n- `loud` — Loud\n- `gentle` — Gentle\n- `invisible-ink` — Invisible Ink\n\n**Screen effects** (full-screen animation in the recipient's chat):\n- `echo` — Echo\n- `spotlight` — Spotlight\n- `balloons` — Balloons\n- `confetti` — Confetti\n- `love` — Love (heart)\n- `lasers` — Lasers\n- `fireworks` — Fireworks\n- `celebration` — Celebration (sparkles)\n\nValues are case-insensitive and accept either dashes or spaces (`\"Invisible Ink\"` and `\"invisible-ink\"` both work). Pass `\"none\"` or omit the field to send without an effect.\n\n**Limitations:**\n- iMessage-only — when the chat is delivered as SMS or RCS the message is sent without an animation.\n- Not supported alongside the `parts` array (multipart bubbles cannot carry an effect). Use the top-level `text` field instead.\n- When `text` is an array, every message in the array is sent with the same effect."},"reply_to":{"allOf":[{"$ref":"#/components/schemas/ReplyToRequest"}],"nullable":true,"description":"Optional. Send this message as an iMessage inline reply targeting a specific earlier message. iMessage-only — rejected on Twilio, hybrid, and multi-message fan-outs (`text` array or URL-balloon batch)."}}},"LinkPreview":{"type":"object","description":"Rich-link-preview overrides for URL messages (iMessage URL balloon). All fields are optional. Only applies when the message text (or the concatenated part text) is exactly a single http(s) URL. If omitted but the text is a URL, Blooio auto-fetches the page's Open Graph metadata to generate a preview. If the image download fails, the send still succeeds — Blooio silently falls back to the auto-generated preview.","properties":{"image_url":{"type":"string","format":"uri","description":"HTTPS URL to an image (png, jpg, webp, gif). Blooio downloads the image server-side and attaches it as the rich-link hero. Max 16 MB. If the download fails or returns a non-image MIME, the send falls back to auto-fetched OG metadata."},"title":{"type":"string","maxLength":200,"description":"Bold title line rendered in the iMessage bubble. Overrides the page's `<meta property=\"og:title\">`."}}},"SendMessageResponse":{"type":"object","description":"Response after sending a message","properties":{"message_id":{"type":"string","description":"ID of the sent message (single-message sends)"},"message_ids":{"type":"array","items":{"type":"string"},"description":"IDs of sent messages. Present when `text` is an array or when `parts` uses per-part `link_preview` (URL-balloon batch mode)."},"count":{"type":"integer","description":"Number of messages sent. Only present in URL-balloon batch mode."},"status":{"type":"string","enum":["queued","failed"],"description":"Initial status of the message(s). `queued` = accepted for delivery (the normal 202 result); `failed` = rejected before dispatch. Subsequent transitions (`sent` → `delivered`, or `failed`) are reported via the status endpoint and `message.status` webhooks."},"group_id":{"type":"string","description":"Group ID when sending to multi-recipient (new or existing)"},"group_created":{"type":"boolean","description":"True if a new unnamed group was created for this multi-recipient message"},"participants":{"type":"array","items":{"type":"string"},"description":"List of participants (present for multi-recipient)"},"parent_unresolved":{"type":"boolean","description":"Present (and `true`) only when `reply_to.guid` was supplied without a `message_id` and the GUID didn't map to any Blooio-minted row. The send still proceeds and the device may still thread it; this flag signals that Blooio couldn't link the new message to a known parent."}}},"MessageStatus":{"type":"object","properties":{"message_id":{"type":"string"},"chat_id":{"type":"string"},"direction":{"type":"string","enum":["inbound","outbound"]},"status":{"type":"string","description":"Delivery lifecycle state. `pending` = persisted and being prepared for dispatch; `queued` = accepted and waiting to be handed to Apple/the carrier; `sent` = handed off to Apple/the carrier (protocol resolution happens around here); `delivered` = a delivery receipt was received; `failed` = could not be delivered (see `error`); `cancellation_requested` = a cancel was requested for a still-queued message (best-effort); `cancelled` = cancelled before dispatch. Inbound messages are surfaced via webhooks with `received`; read receipts arrive as a `read` event.","enum":["pending","queued","sent","delivered","failed","cancellation_requested","cancelled"],"nullable":true},"protocol":{"type":"string","description":"Transport used to carry the message; never null. `pending` = accepted and dispatched, wire service not resolved yet (settles within seconds of send); `imessage` = delivered over iMessage (blue bubble); `rcs` = delivered over RCS; `sms` = fell back to SMS/MMS (green bubble); `unknown` = accepted by the carrier but the wire service could not be resolved before the tracking window closed (see `error`).","enum":["pending","unknown","imessage","sms","rcs"]
[...]
