{"openapi":"3.1.0","info":{"title":"Blooio v4 API","version":"4.0.0-beta","description":"The Blooio v4 API is a multi-channel messaging API for iMessage, SMS, RCS, WhatsApp. It exposes channels, contacts and identities, chats, messages, reactions, polls, groups, webhooks, and a unified event feed. ## Authentication\nAuthenticate with an API key as a bearer token: `Authorization: Bearer bl_live_...`. Create keys in the Blooio dashboard. ## Conventions\n- **IDs** are prefixed and globally unique: channels `ch_`, contacts `ct_`, identities `cid_`, chats `chat_`, messages `msg_`, groups `grp_`, webhooks `wh_`, webhook deliveries `wdel_`, events `evt_`.\n- **List responses** normally return `{ \"data\": [...], \"has_more\": boolean, \"next_cursor\": string | null }` and use cursor pagination (`limit`, `cursor`). The contacts list additionally supports offset pagination for search, filtering, and sorting, returning a `pagination` object when that mode is used.\n- **Item responses** return `{ \"data\": { ... } }`. Message send endpoints return the message object at the top level (not wrapped).\n- **Errors** use `{ \"error\": { \"code\": string, \"message\": string, \"details\": object } }`. Authentication failures at the middleware boundary use a flatter shape `{ \"error\": string, \"message\": string, \"status\": number }`.","contact":{"name":"Blooio Support","email":"help@blooio.com","url":"https://docs.blooio.com"}},"servers":[{"url":"https://api.blooio.com/v4","description":"Production"}],"security":[{"BearerApiKey":[]}],"x-blooio-status":"beta","tags":[{"name":"Account","description":"Authenticated account, sender numbers, and contact cards."},{"name":"Location","description":"Find My friend locations (device passthrough)."},{"name":"Channels","description":"Sending surfaces (iMessage/Blooio, Twilio, WhatsApp, RCS) and their capabilities."},{"name":"Priorities","description":"Channel routing / number pools: ordered sets of channels walked by priority for the agnostic send."},{"name":"Contacts","description":"Contacts, their channel identities, capabilities, timeline, and tags."},{"name":"Chats","description":"Conversations and chat-level actions (typing, read, contact card, background)."},{"name":"Messages","description":"Send messages and read message history, status, events, and reactions."},{"name":"Polls","description":"Native iMessage polls (Blooio channels)."},{"name":"Groups","description":"Group chats on group-capable channels (Blooio, WhatsApp)."},{"name":"Webhooks","description":"Webhook subscriptions and delivery attempts for inbound + lifecycle events."},{"name":"Events","description":"Unified activity feed across messages, polls, groups, reactions, typing, and messaging-safety state changes."},{"name":"Phone Numbers","description":"Phone number lookup and geocoding (enterprise plans)."}],"paths":{"/me":{"get":{"tags":["Account"],"summary":"Get the authenticated account","description":"Returns the authenticated organization, linked devices/numbers, usage, and API key validity.","operationId":"getMe","responses":{"200":{"description":"Account context","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","additionalProperties":true}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/me/priority":{"get":{"tags":["Account"],"summary":"Get the key's default priority","description":"Returns the calling API key's default channel priority, or `{ \"data\": null }` when none is configured (in which case the agnostic send falls back to the implicit Blooio pool of the key's own numbers).","operationId":"getMyDefaultPriority","responses":{"200":{"description":"The default priority (or null)","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"oneOf":[{"$ref":"#/components/schemas/Priority"},{"type":"null"}]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/me/numbers":{"get":{"tags":["Account"],"summary":"List sender numbers","description":"Lists the phone numbers / sender addresses available to this API key.","operationId":"listNumbers","responses":{"200":{"description":"Sender numbers","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","additionalProperties":true}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/me/numbers/{number}/contact-card":{"get":{"tags":["Account"],"summary":"Get a number's contact card","operationId":"getContactCard","parameters":[{"$ref":"#/components/parameters/NumberParam"}],"responses":{"200":{"description":"Contact card","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEnvelope"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"put":{"tags":["Account"],"summary":"Update a number's contact card","description":"Updates the contact card (name, avatar, sharing settings) shared from this number. At least one field is required.","operationId":"updateContactCard","parameters":[{"$ref":"#/components/parameters/NumberParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"avatar":{"type":"string","description":"Public image URL or data URI."},"sharing":{"type":"object","properties":{"enabled":{"type":"boolean"},"audience":{"type":"string"},"name_format":{"type":"string"}}}}}}}},"responses":{"200":{"description":"Updated contact card","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEnvelope"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/me/numbers/{number}/contact-card/avatar":{"post":{"tags":["Account"],"summary":"Upload a contact card avatar","description":"Uploads an avatar image for the number's contact card. Max 10MB.","operationId":"uploadContactCardAvatar","parameters":[{"$ref":"#/components/parameters/NumberParam"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"avatar":{"type":"string","format":"binary"}},"required":["avatar"]}}}},"responses":{"200":{"description":"Avatar uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEnvelope"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/me/numbers/{number}/call-forwarding":{"post":{"tags":["Account"],"summary":"Request call forwarding","operationId":"requestCallForwarding","parameters":[{"$ref":"#/components/parameters/NumberParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"forward_to":{"type":"string","description":"US E.164 number to forward calls to."}},"required":["forward_to"]}}}},"responses":{"200":{"description":"Call forwarding requested","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEnvelope"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/location/contacts":{"get":{"tags":["Location"],"summary":"List Find My contacts","description":"Lists Find My friends sharing their location with the linked Apple account.","operationId":"listLocationContacts","responses":{"200":{"description":"Find My contacts","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","additionalProperties":true}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/location/contacts/refresh":{"get":{"tags":["Location"],"summary":"Refresh Find My locations (GET)","description":"Convenience GET form of the refresh endpoint. Forces a refresh of Find My location data from the device.","operationId":"refreshLocationContactsGet","responses":{"200":{"description":"Refresh result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEnvelope"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["Location"],"summary":"Refresh Find My locations","description":"Forces a refresh of Find My location data from the device.","operationId":"refreshLocationContacts","responses":{"200":{"description":"Refresh result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEnvelope"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/location/contacts/{handle}":{"get":{"tags":["Location"],"summary":"Get one Find My contact","operationId":"getLocationContact","parameters":[{"name":"handle","in":"path","required":true,"schema":{"type":"string"},"description":"Contact handle to resolve — a phone number in E.164 format, an email address, or an Apple ID. URL-encode the value."}],"responses":{"200":{"description":"Find My contact","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEnvelope"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/channels":{"get":{"tags":["Channels"],"summary":"List channels","description":"Lists messaging channels for the organization. Ordinary sends do not require a channel id; use this endpoint to inspect capabilities or obtain an exact channel id for advanced integrations.","operationId":"listChannels","parameters":[{"name":"type","in":"query","schema":{"$ref":"#/components/schemas/ChannelType"},"description":"Filter by channel type."},{"name":"status","in":"query","schema":{"$ref":"#/components/schemas/ChannelStatus"},"description":"Filter by channel status."},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"}],"responses":{"200":{"description":"A page of channels","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Channel"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}},"example":{"data":[{"id":"ch_018f7b2a-1c3d-7e4f-9a2b-0c1d2e3f4a5b","type":"blooio","address":"+15551234567","status":"active","capabilities":{"protocols":["imessage","sms","rcs"],"content":["text","media"]},"created_at":1718000000000}],"has_more":false,"next_cursor":null}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/channels/{channel}":{"get":{"tags":["Channels"],"summary":"Get a channel","operationId":"getChannel","parameters":[{"$ref":"#/components/parameters/ChannelIdParam"}],"responses":{"200":{"description":"A channel","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Channel"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/channels/{channel}/capabilities":{"get":{"tags":["Channels"],"summary":"Get channel capabilities","description":"Returns supported protocols, content types, actions, and interactive features for a channel.","operationId":"getChannelCapabilities","parameters":[{"$ref":"#/components/parameters/ChannelIdParam"}],"responses":{"200":{"description":"Channel capabilities","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"channel_id":{"type":"string"},"type":{"$ref":"#/components/schemas/ChannelType"},"capabilities":{"$ref":"#/components/schemas/ChannelCapabilities"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/channels/{channel}/profile":{"put":{"tags":["Channels"],"summary":"Update channel profile","description":"Stores channel profile metadata (e.g. display name, avatar). The profile object is stored verbatim under `metadata.profile`.","operationId":"updateChannelProfile","parameters":[{"$ref":"#/components/parameters/ChannelIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"description":"Channel-specific profile fields. The exact keys depend on the channel type (e.g. WhatsApp profile fields)."},"example":{"display_name":"Blooio Support","about":"We reply within minutes.","email":"support@blooio.com"}}}},"responses":{"200":{"description":"Updated profile","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"channel_id":{"type":"string"},"type":{"$ref":"#/components/schemas/ChannelType"},"profile":{"type":"object","additionalProperties":true}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/channels/{channel}/messages":{"post":{"tags":["Channels"],"summary":"Send a message on a specific channel","description":"Channel-scoped equivalent of `POST /messages` with an explicit `from`: `:channel` accepts the same phone number (URL-encode `+` as `%2B`), alias, or `ch_...` value `from` accepts, and the body omits `from`. Multiple recipients on a group-capable channel (blooio/whatsapp) form a single group thread; on other channels they fan out to individual sends (max 100).","operationId":"sendMessageToChannel","parameters":[{"$ref":"#/components/parameters/ChannelIdParam"},{"$ref":"#/components/parameters/IdempotencyKeyHeader"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendToChannelRequest"},"examples":{"text":{"summary":"Simple text","value":{"to":"+15551234567","text":"Hello from Blooio!"}}}}}},"responses":{"200":{"description":"Dry-run preview","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageSendResult"}}}},"201":{"description":"Message accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageSendResult"}}}},"207":{"description":"Multi-recipient fan-out with mixed results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FanOutResult"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/SafetyBlocked"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/ConversationLimited"},"501":{"$ref":"#/components/responses/NotImplemented"}}}},"/priorities":{"get":{"tags":["Priorities"],"summary":"List priorities","description":"Lists channel priorities owned by the calling API key.","operationId":"listPriorities","parameters":[{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"}],"responses":{"200":{"description":"A page of priorities","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Priority"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["Priorities"],"summary":"Create a priority","description":"Creates a channel priority. Channels sharing a `priority` (and type) form a pool; ascending priority is the send-time waterfall. The first priority created for a key becomes its default unless `is_default: false` is set.","operationId":"createPriority","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePriorityRequest"}}}},"responses":{"201":{"description":"Created priority","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Priority"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/priorities/{priorityId}":{"get":{"tags":["Priorities"],"summary":"Get a priority","operationId":"getPriority","parameters":[{"$ref":"#/components/parameters/PriorityIdParam"}],"responses":{"200":{"description":"A priority","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Priority"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"tags":["Priorities"],"summary":"Update a priority","description":"Updates a priority's name, default flag, and/or channel set. When `channels` is supplied it replaces the priority's channels wholesale.","operationId":"updatePriority","parameters":[{"$ref":"#/components/parameters/PriorityIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePriorityRequest"}}}},"responses":{"200":{"description":"Updated priority","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Priority"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"tags":["Priorities"],"summary":"Delete a priority","operationId":"deletePriority","parameters":[{"$ref":"#/components/parameters/PriorityIdParam"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"deleted":{"type":"boolean"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/contacts":{"get":{"tags":["Contacts"],"summary":"List contacts","description":"Lists contacts. Cursor pagination is the default. Supplying `offset`, `q`, `tag`, `sort`, or `filter` switches to offset pagination and includes `pagination.total`.","operationId":"listContacts","parameters":[{"name":"identifier","in":"query","schema":{"type":"string"},"description":"Filter to the contact owning this phone/email."},{"name":"q","in":"query","schema":{"type":"string"},"description":"Case-insensitive search across contact names, identities, and tags."},{"name":"tag","in":"query","schema":{"type":"string"},"description":"Case-insensitive tag filter."},{"name":"sort","in":"query","schema":{"type":"string","enum":["recent","oldest","name_asc","name_desc"]}},{"name":"filter","in":"query","schema":{"type":"string","enum":["none","has_tags","no_tags","inbound_last","outbound_last"]}},{"name":"offset","in":"query","schema":{"type":"integer","minimum":0},"description":"Zero-based offset. Cannot be combined with cursor."},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"}],"responses":{"200":{"description":"A page of contacts","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]},"pagination":{"type":"object","properties":{"limit":{"type":"integer"},"offset":{"type":"integer"},"total":{"type":"integer"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["Contacts"],"summary":"Create a contact","description":"Creates a contact, optionally with one identity (phone/email on a channel type).","operationId":"createContact","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContactRequest"}}}},"responses":{"201":{"description":"Created contact","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Contact"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/contacts/{contactId}":{"get":{"tags":["Contacts"],"summary":"Get a contact","operationId":"getContact","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"responses":{"200":{"description":"A contact","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Contact"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"tags":["Contacts"],"summary":"Update a contact","operationId":"updateContact","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]}}}},"responses":{"200":{"description":"Updated contact","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Contact"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"tags":["Contacts"],"summary":"Delete a contact","description":"Soft-deletes a contact and its identities.","operationId":"deleteContact","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"deleted":{"type":"boolean"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/contacts/{contactId}/merge":{"post":{"tags":["Contacts"],"summary":"Merge a contact","description":"Collapses two auto-created contacts for the same person into one. The survivor is the `{contactId}` in the path; the `source_contact_id` in the body is absorbed into it. Every identity on the source is re-parented onto the survivor, tags are unioned, the survivor keeps its own name (falling back to the source's), and the source becomes a deprecated tombstone stamped with `merged_into`. Because chats and messages reference identities (not contacts), all conversations and timeline entries follow the moved identities automatically — nothing is rewritten or lost, and reads such as the survivor's timeline immediately reflect the merge. Idempotent: re-merging the same source into the same survivor returns 200; a source already merged into a different contact returns 409. Emits a `contact.merged` webhook event.","operationId":"mergeContact","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["source_contact_id"],"properties":{"source_contact_id":{"type":"string","description":"The contact to merge into the survivor, prefixed with `ct_`. Must differ from the path contact.","example":"ct_01HZ0000000000000000000000"}}}}}},"responses":{"200":{"description":"The merged survivor contact, now including the re-parented identities.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Contact"}}}}}},"400":{"description":"The source equals the survivor, or an id is malformed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"status":{"type":"integer"},"code":{"type":"string"}}},"example":{"error":"ApiError","message":"Cannot merge a contact into itself","status":400,"code":"cannot_merge_self"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"description":"The source contact has already been merged into a different contact.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"status":{"type":"integer"},"code":{"type":"string"}}},"example":{"error":"ApiError","message":"Contact has already been merged","status":409,"code":"contact_already_merged"}}}},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/contacts/{contactId}/identities":{"get":{"tags":["Contacts"],"summary":"List contact identities","operationId":"listContactIdentities","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"responses":{"200":{"description":"Identities","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ContactIdentity"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"tags":["Contacts"],"summary":"Attach an identity","description":"Attaches a phone/email identity (on a channel type) to a contact.","operationId":"attachContactIdentity","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachIdentityRequest"}}}},"responses":{"201":{"description":"Attached identity","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ContactIdentity"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/contacts/{contactId}/identities/{identityId}":{"patch":{"tags":["Contacts"],"summary":"Update an identity","description":"Renames a contact identity in place. An optional name updates the parent contact in the same request.","operationId":"updateContactIdentity","parameters":[{"$ref":"#/components/parameters/ContactIdParam"},{"name":"identityId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the contact identity, prefixed with `cid_`."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["identifier"],"properties":{"identifier":{"type":"string"},"name":{"type":["string","null"]}}}}}},"responses":{"200":{"description":"Updated identity","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ContactIdentity"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"tags":["Contacts"],"summary":"Detach an identity","operationId":"detachContactIdentity","parameters":[{"$ref":"#/components/parameters/ContactIdParam"},{"name":"identityId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the contact identity (a phone/email tied to the contact), prefixed with `cid_`. Returned by the List contact identities endpoint."}],"responses":{"200":{"description":"Detached","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"detached":{"type":"boolean"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/contacts/{contactId}/capabilities":{"get":{"tags":["Contacts"],"summary":"Get contact capabilities","description":"Returns per-identity reachability/capabilities (iMessage/SMS/RCS, etc.) for a contact. For iMessage (blooio) identities this is a LIVE per-number lookup performed by an active iMessage channel — the request is rejected with 409 if the API key has no active iMessage (blooio) channel provisioned.","operationId":"getContactCapabilities","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"responses":{"200":{"description":"Capabilities per identity","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"identifier":{"type":"string"},"channel_id":{"type":["string","null"]},"capabilities":{"type":"object","additionalProperties":true}}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"description":"No active iMessage (blooio) channel is provisioned for this API key, so live iMessage/SMS/RCS detection is unavailable.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"status":{"type":"integer"},"code":{"type":"string"}}},"example":{"error":"ApiError","message":"No active iMessage (blooio) channel is provisioned for this API key. Live per-number iMessage/SMS/RCS detection requires an active iMessage channel; provision one or contact support to enable it.","status":409,"code":"no_active_blooio_channel"}}}}}}},"/contacts/{contactId}/timeline":{"get":{"tags":["Contacts"],"summary":"Get contact timeline","description":"A single, chronological cross-channel activity feed for a contact, unifying every conversation the contact takes part in — both 1:1 chats keyed on the contact's identities and group chats where the contact is a current member — across all channel types. After a merge, the survivor's timeline includes the absorbed contact's history automatically. Each entry is a polymorphic envelope tagged by `type`; ordered newest-first by `occurred_at`. By default only `message` entries are returned; pass `include_events=true` to interleave lifecycle and chat events.","operationId":"getContactTimeline","parameters":[{"$ref":"#/components/parameters/ContactIdParam"},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"},{"name":"include_events","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"When true, interleaves non-message activity (delivery/read receipts, reactions, chat/group/typing changes) from the events ledger into the feed as `message_event` / `chat_event` entries. Defaults to false (messages only)."}],"responses":{"200":{"description":"Timeline page","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TimelineItem"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/contacts/{contactId}/tags":{"get":{"tags":["Contacts"],"summary":"List contact tags","operationId":"listContactTags","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"responses":{"200":{"description":"Tags","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"tags":["Contacts"],"summary":"Add contact tags","operationId":"addContactTags","parameters":[{"$ref":"#/components/parameters/ContactIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"array","items":{"type":"string"}},"tag":{"type":"string"}}}}}},"responses":{"200":{"description":"Merged tags","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/contacts/{contactId}/tags/{tag}":{"delete":{"tags":["Contacts"],"summary":"Remove a contact tag","operationId":"removeContactTag","parameters":[{"$ref":"#/components/parameters/ContactIdParam"},{"name":"tag","in":"path","required":true,"schema":{"type":"string"},"description":"The tag to remove from the contact. URL-encode values that contain spaces or special characters."}],"responses":{"200":{"description":"Remaining tags","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/groups":{"get":{"tags":["Groups"],"summary":"List groups","operationId":"listGroups","parameters":[{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"}],"responses":{"200":{"description":"A page of groups","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Group"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["Groups"],"summary":"Create a group","description":"Creates a group chat on a group-capable channel (blooio/whatsapp) with one or more members.","operationId":"createGroup","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupRequest"}}}},"responses":{"201":{"description":"Created group","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Group"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/groups/{groupId}":{"get":{"tags":["Groups"],"summary":"Get a group","operationId":"getGroup","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"responses":{"200":{"description":"A group","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Group"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"tags":["Groups"],"summary":"Update a group","operationId":"updateGroup","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]}}}},"responses":{"200":{"description":"Updated group","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Group"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"tags":["Groups"],"summary":"Delete a group","operationId":"deleteGroup","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"deleted":{"type":"boolean"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/groups/{groupId}/members":{"get":{"tags":["Groups"],"summary":"List group members","operationId":"listGroupMembers","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"responses":{"200":{"description":"Members","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/GroupMember"}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/groups/{groupId}/icon":{"post":{"tags":["Groups"],"summary":"Set group icon","description":"Uploads a group icon. Max 10MB; image/jpeg|png|gif|webp|heic|heif. Requires the group chat to be linked on a device.","operationId":"setGroupIcon","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"icon":{"type":"string","format":"binary"}},"required":["icon"]}}}},"responses":{"200":{"description":"Icon set","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"icon_url":{"type":["string","null"]}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"}}},"delete":{"tags":["Groups"],"summary":"Remove group icon","operationId":"removeGroupIcon","parameters":[{"$ref":"#/components/parameters/GroupIdParam"}],"responses":{"200":{"description":"Icon removed","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"removed":{"type":"boolean"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"}}}},"/chats":{"get":{"tags":["Chats"],"summary":"List chats","description":"Lists conversations, most recent first. Filter by channel type, state, channel, or contact.","operationId":"listChats","parameters":[{"name":"type","in":"query","schema":{"$ref":"#/components/schemas/ChannelType"}},{"name":"state","in":"query","schema":{"$ref":"#/components/schemas/ChatState"}},{"name":"channel_id","in":"query","schema":{"type":"string"}},{"name":"contact_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"}],"responses":{"200":{"description":"A page of chats","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Chat"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["Chats"],"summary":"Find or create a chat","description":"Finds or creates a 1:1 chat with a recipient on a channel. Returns the chat (with `created` indicating whether it was newly created).","operationId":"createChat","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChatRequest"}}}},"responses":{"200":{"description":"Existing chat","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCreated"}}}},"201":{"description":"Created chat","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCreated"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/chats/{chatId}":{"get":{"tags":["Chats"],"summary":"Get a chat","operationId":"getChat","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"A chat","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Chat"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"tags":["Chats"],"summary":"Update a chat","description":"Sets chat state (`open`/`closed`) and/or merges metadata. At least one field is required.","operationId":"updateChat","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"state":{"type":"string","enum":["open","closed"]},"metadata":{"type":"object","additionalProperties":true}}}}}},"responses":{"200":{"description":"Updated chat","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Chat"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/chats/{chatId}/typing":{"post":{"tags":["Chats"],"summary":"Start/stop typing indicator","description":"Shows or clears a typing indicator. Blooio channels only.","operationId":"setTyping","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"state":{"type":"string","enum":["started","stopped"],"default":"started"}}}}}},"responses":{"200":{"description":"Typing state applied","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"chat_id":{"type":"string"},"state":{"type":"string"},"at":{"type":"integer"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"}}},"delete":{"tags":["Chats"],"summary":"Stop typing indicator","operationId":"stopTyping","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Typing stopped","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"chat_id":{"type":"string"},"state":{"type":"string"},"at":{"type":"integer"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"}}}},"/chats/{chatId}/read":{"post":{"tags":["Chats"],"summary":"Mark chat as read","description":"Sends a read receipt. Blooio channels only.","operationId":"markChatRead","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Marked read","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"chat_id":{"type":"string"},"read":{"type":"boolean"},"at":{"type":"integer"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"}}}},"/chats/{chatId}/contact-card":{"post":{"tags":["Chats"],"summary":"Share contact card","description":"Shares the sender's contact card into a chat. Blooio channels only.","operationId":"shareContactCard","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Shared","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"chat_id":{"type":"string"},"shared":{"type":"boolean"},"at":{"type":"integer"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"}}}},"/chats/{chatId}/polls":{"post":{"tags":["Polls"],"summary":"Send a poll","description":"Sends a native iMessage poll to a chat. Requires a title and 2+ options. Blooio channels only.","operationId":"sendPoll","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendPollRequest"}}}},"responses":{"201":{"description":"Poll queued","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Poll"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/chats/{chatId}/polls/{pollId}/vote":{"post":{"tags":["Polls"],"summary":"Vote on a poll","description":"Casts or toggles a vote by `option_index` (0-based) or `option` text. Blooio channels only.","operationId":"votePoll","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"name":"pollId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the poll, prefixed with `msg_` (a poll shares the id of its underlying message)."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VotePollRequest"}}}},"responses":{"200":{"description":"All votes toggled off","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PollVoteResult"}}}}}},"201":{"description":"Vote recorded","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PollVoteResult"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/chats/{chatId}/polls/{pollId}":{"get":{"tags":["Polls"],"summary":"Get poll results","operationId":"getPollResults","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"name":"pollId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the poll, prefixed with `msg_` (a poll shares the id of its underlying message)."}],"responses":{"200":{"description":"Poll results","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PollResults"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/chats/{chatId}/background":{"get":{"tags":["Chats"],"summary":"Get chat background","description":"Reads the chat's background image (Blooio channels). Reads live from the device.","operationId":"getChatBackground","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Background info","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"chat_id":{"type":"string"},"has_background":{"type":"boolean"},"background_id":{"type":["string","null"]},"background_version":{"type":["integer","null"]},"background_url":{"type":["string","null"]}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"put":{"tags":["Chats"],"summary":"Set chat background","description":"Uploads a chat background image. Max 10MB; image/jpeg|png|gif|webp|heic|heif. Blooio channels only.","operationId":"setChatBackground","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"background":{"type":"string","format":"binary"}},"required":["background"]}}}},"responses":{"200":{"description":"Background set","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"chat_id":{"type":"string"},"background_id":{"type":"string"},"background_url":{"type":["string","null"]}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"delete":{"tags":["Chats"],"summary":"Remove chat background","operationId":"removeChatBackground","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"200":{"description":"Background removed","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"chat_id":{"type":"string"},"removed":{"type":"boolean"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/chats/{chatId}/messages":{"get":{"tags":["Messages"],"summary":"List chat messages","description":"Lists messages in a chat, newest first by default. Use `order=asc` for oldest first.","operationId":"listChatMessages","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"name":"order","in":"query","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"}],"responses":{"200":{"description":"A page of messages","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Message"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"tags":["Messages"],"summary":"Send a message to a chat","description":"Sends a message into an existing chat. Both the sender channel and recipient are inferred from the chat, so `from` and `to` must not be supplied. Returns the message object at the top level (not wrapped in `data`).","operationId":"sendMessageToChat","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"$ref":"#/components/parameters/IdempotencyKeyHeader"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendToChatRequest"}}}},"responses":{"200":{"description":"Dry-run preview","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageSendResult"}}}},"201":{"description":"Message accepted. The message object is returned with its current `status`; a synchronously rejected send returns `status: \"failed\"` with an `error` object (still 201, since the message was created).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageSendResult"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/SafetyBlocked"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/ConversationLimited"},"501":{"$ref":"#/components/responses/NotImplemented"}}}},"/messages":{"post":{"tags":["Messages"],"summary":"Send a message","description":"The primary endpoint for starting a message. The common send is entirely scalar: `{ \"from\": \"+15551230001\", \"to\": \"+15551234567\", \"text\": \"Hello\" }`. `from` is one optional string: 1. **Phone number** — `\"from\": \"+15551230001\"` selects your exact numbered channel with that address.\n2. **Alias** — `\"from\": \"support\"` selects the non-numbered channel (RCS Business) with that organization-wide alias.\n3. **Channel id** — `\"from\": \"ch_...\"` is the advanced exact-channel form.\n4. **Automatic** — omit `from` to use the key's default priority / automatic routing. Advanced routing controls (each mutually exclusive with `from`): `\"priority_id\": \"priority_...\"` routes through an explicit priority; `\"channel_type\": \"blooio\"` constrains automatic/priority routing to one type; `\"hybrid\": true` (or a representative phone number string) requests hybrid Twilio-first / Blooio-after-reply routing. Priority routing is history-first and content-aware. Poll content currently routes only through Blooio. Existing groups require an exact sender whose channel owns the group or a hybrid sender that owns that channel. Returns the resolved scalar `from` plus the chosen `channel_id`, `chat_id`, and routing explanation.","operationId":"sendMessage","parameters":[{"$ref":"#/components/parameters/IdempotencyKeyHeader"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMessageRequest"},"examples":{"routed_text":{"summary":"Simple routed text","value":{"to":"+15551234567","text":"Hello from Blooio!"}},"exact_number":{"summary":"Send from an exact number","value":{"from":"+18582849901","to":"+15551234567","text":"Hello!"}},"alias":{"summary":"Send from an aliased sender","value":{"from":"support","to":"opaque-customer-id","text":"How can we help?"}},"media_with_caption":{"summary":"Media with a caption","value":{"from":"+18582849901","to":"+15551234567","text":"Check this out","attachments":["https://example.com/photo.jpg"]}},"blooio_type":{"summary":"Constrain routing to Blooio","value":{"channel_type":"blooio","to":"+15551234567","text":"Hello from Blooio!"}},"poll":{"summary":"Route a Blooio poll","value":{"channel_type":"blooio","to":"+15551234567","poll":{"title":"Choose one","options":["A","B"]}}},"dry_run":{"summary":"Validate/route only","value":{"to":"+15551234567","text":"Test","dry_run":true}}}}}},"responses":{"200":{"description":"Dry-run preview","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageSendResult"}}}},"201":{"description":"Message accepted. The message object is returned with its current `status`; a synchronously rejected send returns `status: \"failed\"` with an `error` object (still 201, since the message was created).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageSendResult"}}}},"207":{"description":"Multi-recipient fan-out with mixed results (some recipients sent, some failed). See per-recipient items in `data`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FanOutResult"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/SafetyBlocked"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"description":"Validation failed, or a multi-recipient fan-out in which every recipient failed (in which case the body is a `FanOutResult` rather than an error envelope).","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Error"},{"$ref":"#/components/schemas/FanOutResult"}]}}}},"429":{"$ref":"#/components/responses/ConversationLimited"},"501":{"$ref":"#/components/responses/NotImplemented"}}}},"/chats/{chatId}/messages/{messageId}":{"get":{"tags":["Messages"],"summary":"Get a message","operationId":"getChatMessage","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"$ref":"#/components/parameters/MessageIdParam"}],"responses":{"200":{"description":"A message","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Message"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/chats/{chatId}/messages/{messageId}/status":{"get":{"tags":["Messages"],"summary":"Get message status","description":"Lightweight delivery status of a message.","operationId":"getMessageStatus","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"$ref":"#/components/parameters/MessageIdParam"}],"responses":{"200":{"description":"Message status","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/MessageStatus"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/chats/{chatId}/messages/{messageId}/events":{"get":{"tags":["Messages"],"summary":"List message events","description":"Lifecycle events for a message (sent, delivered, read, reactions, ...).","operationId":"listMessageEvents","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"$ref":"#/components/parameters/MessageIdParam"},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"}],"responses":{"200":{"description":"Message events","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MessageEvent"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/chats/{chatId}/messages/{messageId}/reactions":{"post":{"tags":["Messages"],"summary":"React to a message","description":"Adds or removes a tapback reaction on any message in the chat — inbound (received) or outbound — addressed by the message `id` from the List messages endpoint. Use a `+` prefix to add and `-` to remove (e.g. `+love`, `-love`). Returns 404 if the message isn't in the chat and 409 if it hasn't been dispatched to the device yet. Blooio channels only.","operationId":"addReaction","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"$ref":"#/components/parameters/MessageIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"reaction":{"type":"string","description":"e.g. '+love' to add, '-love' to remove.","examples":["+love","+like","+laugh","+emphasize","+question","+dislike"]}},"required":["reaction"]}}}},"responses":{"200":{"description":"Reaction applied","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"message_id":{"type":"string"},"reaction":{"type":"string"},"at":{"type":"integer"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/webhooks":{"get":{"tags":["Webhooks"],"summary":"List webhooks","operationId":"listWebhooks","parameters":[{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"}],"responses":{"200":{"description":"A page of webhooks","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["Webhooks"],"summary":"Create a webhook","description":"Subscribes an HTTPS endpoint to events. Returns the signing secret once, on creation.","operationId":"createWebhook","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWebhookRequest"}}}},"responses":{"201":{"description":"Created webhook (includes signing_secret once)","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/WebhookWithSecret"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/webhooks/{webhookId}":{"get":{"tags":["Webhooks"],"summary":"Get a webhook","operationId":"getWebhook","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"}],"responses":{"200":{"description":"A webhook","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Webhook"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"tags":["Webhooks"],"summary":"Update a webhook","description":"Updates url, event_types, or status (`active`/`disabled`).","operationId":"updateWebhook","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWebhookRequest"}}}},"responses":{"200":{"description":"Updated webhook","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Webhook"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"tags":["Webhooks"],"summary":"Delete a webhook","operationId":"deleteWebhook","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"deleted":{"type":"boolean"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/webhooks/{webhookId}/secret/rotate":{"post":{"tags":["Webhooks"],"summary":"Rotate webhook signing secret","description":"Rotates and returns a new signing secret (once).","operationId":"rotateWebhookSecret","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"}],"responses":{"200":{"description":"New secret","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"signing_secret":{"type":"string"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/webhooks/{webhookId}/deliveries":{"get":{"tags":["Webhooks"],"summary":"List webhook deliveries","description":"Recent delivery attempts for a webhook. Also available at `/webhooks/{webhookId}/logs`.","operationId":"listWebhookDeliveries","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"}],"responses":{"200":{"description":"A page of deliveries","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WebhookDelivery"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/webhooks/{webhookId}/deliveries/{deliveryId}/replay":{"post":{"tags":["Webhooks"],"summary":"Replay a webhook delivery","description":"Re-sends a past delivery. Also available at `/webhooks/{webhookId}/logs/{deliveryId}/replay`.","operationId":"replayWebhookDelivery","parameters":[{"$ref":"#/components/parameters/WebhookIdParam"},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the webhook delivery attempt, prefixed with `wdel_`. Returned by the List webhook deliveries endpoint."}],"responses":{"201":{"description":"Replay queued","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"replay_of":{"type":"string"},"status":{"type":"string"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/events":{"get":{"tags":["Events"],"summary":"List events","description":"Unified activity feed (message lifecycle, polls, groups, reactions, typing, `safety.state_changed`, `safety.number_banned`). Filter by type, chat, or message.","operationId":"listEvents","parameters":[{"name":"type","in":"query","schema":{"type":"string"},"description":"Event type or wildcard, e.g. `message.received` or `message.*`."},{"name":"chat_id","in":"query","schema":{"type":"string"}},{"name":"message_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/CursorParam"}],"responses":{"200":{"description":"A page of events","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Event"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/events/{eventId}":{"get":{"tags":["Events"],"summary":"Get an event","operationId":"getEvent","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the event, prefixed with `evt_`. Returned by the List events endpoint."}],"responses":{"200":{"description":"An event","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Event"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/phone-numbers/lookup":{"get":{"tags":["Phone Numbers"],"summary":"Look up a phone number","description":"Returns parsed info / geocoding for a phone number. Requires an enterprise plan.","operationId":"lookupPhoneNumber","parameters":[{"name":"number","in":"query","required":true,"schema":{"type":"string"},"description":"Phone number in E.164."}],"responses":{"200":{"description":"Lookup result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEnvelope"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}},"post":{"tags":["Phone Numbers"],"summary":"Look up a phone number (POST)","description":"Same as the GET form, accepting the number in a JSON body. Returns parsed info / geocoding for a phone number. Requires an enterprise plan.","operationId":"lookupPhoneNumberPost","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"number":{"type":"string","description":"Phone number in E.164."}},"required":["number"]}}}},"responses":{"200":{"description":"Lookup result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEnvelope"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/phone-numbers/batch":{"post":{"tags":["Phone Numbers"],"summary":"Batch phone number lookup","description":"Looks up up to 100 phone numbers. Requires an enterprise plan.","operationId":"batchLookupPhoneNumbers","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"numbers":{"type":"array","items":{"type":"string"},"maxItems":100}},"required":["numbers"]}}}},"responses":{"200":{"description":"Lookup results","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","additionalProperties":true}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/chats/{chatId}/participants":{"get":{"tags":["Chats"],"summary":"List chat participants","operationId":"listChatParticipants","x-blooio-status":"planned","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"501":{"$ref":"#/components/responses/NotImplemented"}}},"post":{"tags":["Chats"],"summary":"Add a chat participant","operationId":"addChatParticipant","x-blooio-status":"planned","parameters":[{"$ref":"#/components/parameters/ChatIdParam"}],"responses":{"501":{"$ref":"#/components/responses/NotImplemented"}}}},"/chats/{chatId}/participants/{identityId}":{"delete":{"tags":["Chats"],"summary":"Remove a chat participant","operationId":"removeChatParticipant","x-blooio-status":"planned","parameters":[{"$ref":"#/components/parameters/ChatIdParam"},{"name":"identityId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the contact identity, prefixed with `cid_`. Returned by the List contact identities endpoint."}],"responses":{"501":{"$ref":"#/components/responses/NotImplemented"}}}},"/attachments":{"post":{"tags":["Messages"],"summary":"Register an attachment","operationId":"createAttachment","x-blooio-status":"planned","responses":{"501":{"$ref":"#/components/responses/NotImplemented"}}}},"/attachments/{attachmentId}":{"get":{"tags":["Messages"],"summary":"Get an attachment","operationId":"getAttachment","x-blooio-status":"planned","parameters":[{"name":"attachmentId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the attachment, as referenced on a message's content."}],"responses":{"501":{"$ref":"#/components/responses/NotImplemented"}}}},"/templates":{"get":{"tags":["Messages"],"summary":"List templates","operationId":"listTemplates","x-blooio-status":"planned","responses":{"501":{"$ref":"#/components/responses/NotImplemented"}}},"post":{"tags":["Messages"],"summary":"Create a template","operationId":"createTemplate","x-blooio-status":"planned","responses":{"501":{"$ref":"#/components/responses/NotImplemented"}}}},"/templates/{templateId}":{"get":{"tags":["Messages"],"summary":"Get a template","operationId":"getTemplate","x-blooio-status":"planned","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the message template. Returned when you create a template or by the List templates endpoint."}],"responses":{"501":{"$ref":"#/components/responses/NotImplemented"}}},"delete":{"tags":["Messages"],"summary":"Delete a template","operationId":"deleteTemplate","x-blooio-status":"planned","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the message template. Returned when you create a template or by the List templates endpoint."}],"responses":{"501":{"$ref":"#/components/responses/NotImplemented"}}}}},"components":{"securitySchemes":{"BearerApiKey":{"type":"http","scheme":"bearer","description":"Blooio API key as a bearer token, e.g. `Authorization: Bearer bl_live_...`."}},"parameters":{"LimitParam":{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":50},"description":"Maximum number of items to return per page. Must be between 1 and 200; defaults to 50. Combine with `cursor` to paginate."},"CursorParam":{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Opaque pagination cursor. Pass the `next_cursor` value from a previous response to fetch the next page; omit it on the first request."},"IdempotencyKeyHeader":{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Optional key for safe retries. Replaying the same key with an identical body returns the original result; a different body returns 409. Use a unique value (such as a UUID) per logical request."},"ChannelIdParam":{"name":"channel","in":"path","required":true,"schema":{"type":"string"},"description":"The channel reference — the same three forms `from` accepts: a phone number (URL-encode `+` as `%2B`), a channel alias, or the exact channel id (`ch_...`)."},"ContactIdParam":{"name":"contactId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the contact, prefixed with `ct_`. Returned when you create a contact or by the List contacts endpoint."},"ChatIdParam":{"name":"chatId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the chat, prefixed with `chat_`. Returned by the List chats endpoint."},"PriorityIdParam":{"name":"priorityId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the priority, prefixed with `priority_`. Returned when you create a priority or by the List priorities endpoint."},"MessageIdParam":{"name":"messageId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the message — the `id` returned when you send a message or by the List messages endpoint. Outbound messages use a `msg_` id; inbound (received) messages use the id the List endpoint exposes for that row. Both are addressable."},"GroupIdParam":{"name":"groupId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the group, prefixed with `grp_`. Returned by the List groups endpoint."},"WebhookIdParam":{"name":"webhookId","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the webhook subscription, prefixed with `wh_`. Returned when you create a webhook or by the List webhooks endpoint."},"NumberParam":{"name":"number","in":"path","required":true,"schema":{"type":"string"},"description":"Sender phone number in E.164 format, e.g. `+15551234567`."}},"responses":{"Unauthorized":{"description":"Authentication failed or missing.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}}},"Forbidden":{"description":"Authenticated but not allowed (e.g. blocked key or plan gate).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}}},"BadRequest":{"description":"Malformed request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotFound":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Conflict":{"description":"Conflicting state (e.g. chat closed, idempotency reuse, channel not active).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"UnprocessableEntity":{"description":"Validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotImplemented":{"description":"Endpoint is defined but not implemented yet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":{"code":"not_implemented","message":"This v4 endpoint is defined but not implemented yet.","details":{"resource":"templates.list"}}}}}},"SafetyBlocked":{"description":"Blocked by messaging safety. The error `code` identifies the gate: `safety_account_review` (the sending number is blocked pending review), `safety_reply_only` (outbound is restricted to conversations with prior inbound), `safety_new_conversations_paused` (brand-new conversations are temporarily paused; replies are unaffected), or `conversation_content_restricted` (links, media, and attachments are not allowed before the recipient's first reply, or in a re-engagement of an inactive conversation). Safety actions clear automatically as the underlying pattern ages out; current per-number state is delivered via the `safety.state_changed` webhook event.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":{"code":"conversation_content_restricted","message":"Links, media, and attachments are not allowed until the recipient replies. Send plain text first."}}}}},"ConversationLimited":{"description":"Conversation-state limit reached. The error `code` identifies the rule: `conversation_awaiting_reply` (up to 3 messages may be sent before the recipient's first reply), `conversation_streak_limit` (consecutive-message cap since the last reply), or `conversation_inactive_paused` (no reply in 14+ days and the single re-engagement message was already sent). The limit lifts as soon as the recipient responds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":{"code":"conversation_awaiting_reply","message":"This conversation is awaiting a reply. Up to 3 messages may be sent before the recipient responds."}}}}}},"schemas":{"Error":{"type":"object","description":"Standard v4 error envelope returned by route handlers.","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error code."},"message":{"type":"string"},"details":{"type":"object","additionalProperties":true}},"required":["code","message"]}},"required":["error"]},"AuthError":{"type":"object","description":"Flat error shape returned by the authentication middleware (401/403).","properties":{"error":{"type":"string"},"message":{"type":"string"},"status":{"type":"integer"},"code":{"type":"string"}}},"ItemEnvelope":{"type":"object","description":"Generic single-item envelope.","properties":{"data":{"type":"object","additionalProperties":true}}},"ChannelType":{"type":"string","enum":["blooio","twilio","whatsapp","whatsapp_business","rcs_business"]},"ChannelStatus":{"type":"string","enum":["pending_verification","active","suspended","banned","deprecated"]},"ChatState":{"type":"string","enum":["open","closed","blocked","deprecated"]},"Direction":{"type":"string","enum":["inbound","outbound"]},"ChannelCapabilities":{"type":"object","description":"What a channel can do. Shape varies by channel type.","properties":{"protocols":{"type":"array","items":{"type":"string"}},"content":{"type":"array","items":{"type":"string"}},"actions":{"type":"array","items":{"type":"string"}},"interactive":{"type":"array","items":{"type":"string"}},"gates":{"type":"array","items":{"type":"string"}}},"additionalProperties":true},"Channel":{"type":"object","properties":{"id":{"type":"string","description":"Channel id (ch_...)."},"type":{"$ref":"#/components/schemas/ChannelType"},"address":{"type":["string","null"],"description":"The channel's real address: the phone number for numbered channels, or the provider address for non-numbered ones. Usable directly as `from`."},"alias":{"type":"string","description":"Movable, organization-wide name for a non-numbered channel (currently RCS Business). Usable directly as `from`. Omitted for numbered channels."},"status":{"$ref":"#/components/schemas/ChannelStatus"},"capabilities":{"$ref":"#/components/schemas/ChannelCapabilities"},"created_at":{"type":"integer","description":"Epoch milliseconds."}}},"ContactIdentity":{"type":"object","properties":{"id":{"type":"string","description":"Identity id (cid_...)."},"contact_id":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"identifier":{"type":"string","description":"Phone (E.164) or email."},"channel_id":{"type":["string","null"],"description":"Reserved for future use."},"created_at":{"type":"integer"}}},"Contact":{"type":"object","properties":{"id":{"type":"string","description":"Contact id (ct_...)."},"name":{"type":["string","null"]},"created_at":{"type":"integer"},"tags":{"type":"array","items":{"type":"string"}},"last_message_time":{"type":["integer","null"]},"last_direction":{"type":["string","null"],"enum":["inbound","outbound",null]},"last_text":{"type":["string","null"]},"last_status":{"type":["string","null"]},"identities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"identifier":{"type":"string"},"channel_id":{"type":["string","null"]},"created_at":{"type":"integer"}}}}}},"TimelineItem":{"type":"object","description":"A single polymorphic entry in a contact's cross-channel timeline. The `type` discriminates the shape of `object`.","properties":{"type":{"type":"string","enum":["message","message_event","chat_event"],"description":"`message`: a message the contact sent or received. `message_event`: a lifecycle event for a message (sent/delivered/read/failed/reaction). `chat_event`: any other chat/group/typing event. Event entries only appear when `include_events=true`."},"occurred_at":{"type":"integer","description":"Epoch-millisecond timestamp the entry occurred at; the feed is ordered by this descending."},"id":{"type":"string","description":"The underlying object id — a `msg_` message id for `message` entries, an `evt_` event id otherwise. Also the pagination sort key within a given `occurred_at`."},"chat_id":{"type":["string","null"]},"channel_id":{"type":["string","null"]},"channel_type":{"type":["string","null"],"description":"The channel type this entry occurred on. Always set for `message` entries; may be null for channel-agnostic events."},"object":{"type":"object","additionalProperties":true,"description":"The full entry payload. For `message` entries: id, chat_id, channel_id, channel_type, direction, type, text, status, created_at. For event entries: id, type, chat_id, channel_id, channel_type, data, occurred_at."}}},"Chat":{"type":"object","properties":{"id":{"type":"string","description":"Chat id (chat_...)."},"channel_id":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"contact_id":{"type":["string","null"]},"identity_id":{"type":["string","null"]},"group_id":{"type":["string","null"]},"state":{"$ref":"#/components/schemas/ChatState"},"capabilities":{"type":"object","additionalProperties":true},"window_expires_at":{"type":["integer","null"]},"last_message_at":{"type":["integer","null"]},"created_at":{"type":"integer"}}},"ChatCreated":{"type":"object","properties":{"id":{"type":"string"},"channel_id":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"contact_id":{"type":["string","null"]},"identity_id":{"type":["string","null"]},"state":{"$ref":"#/components/schemas/ChatState"},"created":{"type":"boolean","description":"True if the chat was newly created."}}},"Message":{"type":"object","properties":{"id":{"type":"string","description":"Message id (msg_...)."},"chat_id":{"type":"string"},"channel_id":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"protocol":{"type":"string","enum":["pending","unknown","imessage","sms","rcs","whatsapp"],"description":"Transport state or resolved wire service; never null. `pending` = accepted and dispatched, wire service not resolved yet; `imessage` / `rcs` / `sms` = the device-confirmed transport (iMessage blue bubble, RCS, or SMS/MMS green bubble); `whatsapp` = sent over WhatsApp; `unknown` = accepted but the transport could not be resolved before the tracking window closed (see `error`)."},"direction":{"$ref":"#/components/schemas/Direction"},"type":{"type":"string","description":"Content type, e.g. text, media, poll."},"text":{"type":["string","null"]},"status":{"type":"string","description":"Delivery lifecycle state: `queued` (accepted, awaiting dispatch), `sent` (handed to the channel; protocol resolves around here), `delivered` (delivery receipt received), `read` (read receipt received), `failed` (see `error`), `superseded` (row replaced by an idempotency retry or a poll-vote supersession). Inbound messages surface via the event feed / webhooks with `received`."},"provider_message_id":{"type":["string","null"]},"reply_to_message_id":{"type":["string","null"]},"error":{"type":["object","null"],"additionalProperties":true},"created_at":{"type":"integer"},"updated_at":{"type":"integer"}}},"MessageStatus":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","description":"Delivery lifecycle state: `queued` (accepted, awaiting dispatch), `sent` (handed to the channel; protocol resolves around here), `delivered` (delivery receipt received), `read` (read receipt received), `failed` (see `error`), `superseded` (row replaced by an idempotency retry or a poll-vote supersession). Inbound messages surface via the event feed / webhooks with `received`."},"protocol":{"type":"string","enum":["pending","unknown","imessage","sms","rcs","whatsapp"],"description":"Transport state or resolved wire service; never null. `pending` = accepted and dispatched, wire service not resolved yet; `imessage` / `rcs` / `sms` = the device-confirmed transport (iMessage blue bubble, RCS, or SMS/MMS green bubble); `whatsapp` = sent over WhatsApp; `unknown` = accepted but the transport could not be resolved before the tracking window closed (see `error`)."},"error":{"type":["object","null"],"additionalProperties":true},"created_at":{"type":"integer"},"updated_at":{"type":"integer"}}},"MessageEvent":{"type":"object","properties":{"id":{"type":"string","description":"Event id (evt_...)."},"message_id":{"type":"string"},"kind":{"type":"string","description":"Bare lifecycle kind, e.g. sent, delivered, read, reaction."},"occurred_at":{"type":"integer"},"metadata":{"type":"object","additionalProperties":true}}},"MessageSendResult":{"type":"object","description":"Returned at the top level (not wrapped in `data`) by send endpoints.","properties":{"id":{"type":"string"},"chat_id":{"type":"string"},"channel_id":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"protocol":{"type":"string","enum":["pending","unknown","imessage","sms","rcs","whatsapp"],"description":"Transport state or resolved wire service; never null. `pending` = accepted and dispatched, wire service not resolved yet; `imessage` / `rcs` / `sms` = the device-confirmed transport (iMessage blue bubble, RCS, or SMS/MMS green bubble); `whatsapp` = sent over WhatsApp; `unknown` = accepted but the transport could not be resolved before the tracking window closed (see `error`)."},"from":{"type":["string","null"],"description":"The resolved sender as a human value: the sending channel's phone number (numbered channels) or alias (non-numbered channels). This is the primary sender reference; `channel_id` remains available for exact follow-up and audit."},"direction":{"$ref":"#/components/schemas/Direction"},"type":{"type":"string"},"status":{"type":"string","description":"Initial lifecycle state for the send: normally `queued` (accepted for delivery), or `failed` if rejected before dispatch. Later transitions (`sent` → `delivered` / `read`, or `failed`) are reported via the message status endpoint and `message.*` webhooks."},"group_id":{"type":"string","description":"Existing group id for a group-targeted send."},"hybrid":{"type":"object","description":"Hybrid routing phase and optional transition placement.","additionalProperties":true},"error":{"type":["object","null"],"additionalProperties":true},"fallback":{"type":"object","description":"Present when a send could not be delivered on the requested channel and a different channel should be tried.","properties":{"recommended":{"type":"boolean","description":"True when falling back to another channel is recommended."},"reason":{"type":"string"}}},"to":{"type":"string","description":"Recipient identifier. Present only on per-recipient items inside a fan-out (FanOutResult) response."},"dry_run":{"type":"boolean"},"would_send":{"type":"boolean"},"preview":{"type":"object","additionalProperties":true},"poll":{"type":"object","properties":{"title":{"type":"string"},"options":{"type":"array","items":{"type":"string"}}}},"routing":{"$ref":"#/components/schemas/RoutingMetadata"}}},"RoutingMetadata":{"type":"object","description":"How Blooio selected the concrete sender channel.","properties":{"mode":{"type":"string","enum":["explicit","priority","hybrid"]},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"number":{"type":"string"},"alias":{"type":"string"},"priority_id":{"type":"string"},"priority":{"type":"integer"}}},"FanOutResult":{"type":"object","description":"Returned when a multi-recipient send fans out to individual sends.","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MessageSendResult"}},"fan_out":{"type":"boolean"},"sent":{"type":"integer"},"failed":{"type":"integer"},"dry_run":{"type":"boolean"},"routing":{"$ref":"#/components/schemas/RoutingMetadata"}}},"Group":{"type":"object","properties":{"id":{"type":"string","description":"Group id (grp_...)."},"channel_id":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"name":{"type":["string","null"]},"icon_url":{"type":["string","null"]},"chat_id":{"type":["string","null"]},"chat_linked":{"type":"boolean","description":"Whether the group is linked to a device chat."},"created_at":{"type":"integer"},"members":{"type":"array","items":{"$ref":"#/components/schemas/GroupMember"}}}},"GroupMember":{"type":"object","properties":{"identity_id":{"type":"string"},"contact_id":{"type":["string","null"]},"role":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"identifier":{"type":"string"}}},"Webhook":{"type":"object","properties":{"id":{"type":"string","description":"Webhook id (wh_...)."},"url":{"type":"string","format":"uri"},"event_types":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["active","disabled"]},"channel_id":{"type":["string","null"]},"channel_type":{"type":["string","null"]},"created_at":{"type":"integer"}}},"WebhookWithSecret":{"allOf":[{"$ref":"#/components/schemas/Webhook"},{"type":"object","properties":{"signing_secret":{"type":"string","description":"Returned once, on creation. Store it to verify signatures."}}}]},"WebhookDelivery":{"type":"object","properties":{"id":{"type":"string","description":"Delivery id (wdel_...)."},"webhook_id":{"type":"string"},"event_id":{"type":"string"},"event_type":{"type":"string"},"status":{"type":"string"},"attempt_count":{"type":"integer"},"response_status":{"type":["integer","null"]},"last_attempt_at":{"type":["integer","null"]},"next_attempt_at":{"type":["integer","null"]},"created_at":{"type":"integer"}}},"Event":{"type":"object","properties":{"id":{"type":"string","description":"Event id (evt_...)."},"type":{"type":"string","description":"e.g. message.delivered, poll.voted."},"message_id":{"type":["string","null"]},"chat_id":{"type":["string","null"]},"channel_type":{"type":["string","null"]},"occurred_at":{"type":"integer"},"data":{"type":"object","additionalProperties":true}}},"Poll":{"type":"object","properties":{"id":{"type":"string"},"chat_id":{"type":"string"},"channel_id":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"type":{"type":"string","enum":["poll"]},"status":{"type":"string"},"poll":{"type":"object","properties":{"title":{"type":"string"},"options":{"type":"array","items":{"type":"string"}}}}}},"PollVoteResult":{"type":"object","properties":{"id":{"type":"string"},"poll_id":{"type":"string"},"voted_option":{"type":"string"},"toggled":{"type":"string","enum":["on","off"]},"active_votes":{"type":"array","items":{"type":"string"}},"active_vote_indices":{"type":"array","items":{"type":"integer"}}}},"PollResults":{"type":"object","properties":{"poll_id":{"type":"string"},"chat_id":{"type":"string"},"title":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string"},"votes":{"type":"integer"}}}},"total_votes":{"type":"integer"}}},"LinkPreview":{"type":"object","properties":{"imageUrl":{"type":"string","format":"uri"},"title":{"type":"string"}}},"MessageContentFields":{"type":"object","description":"Top-level message content. Provide exactly one content field (`text` and `attachments` may be combined); the content type is inferred from the field, so no separate `type` discriminator exists. Conflicting content fields are rejected with `422 invalid_content`.","properties":{"text":{"type":"string","description":"Plain text message. May be combined with `attachments` (sent as media with a caption)."},"attachments":{"type":"array","items":{"type":"string","format":"uri"},"description":"Public https media URLs. May be combined with `text`.","minItems":1},"rich_link":{"type":"object","description":"A tappable rich link bubble (Blooio /).","properties":{"url":{"type":"string","format":"uri"},"title":{"type":"string"}},"required":["url"]},"poll":{"type":"object","description":"A native Blooio poll. Routed sends automatically consider only poll-capable channels.","properties":{"title":{"type":"string","minLength":1},"options":{"type":"array","items":{"type":"string","minLength":1},"minItems":2}},"required":["title","options"]},"interactive":{"type":"object","description":"Interactive content (WhatsApp Business / RCS). Requires `kind`.","properties":{"kind":{"type":"string"}},"required":["kind"],"additionalProperties":true},"template":{"type":"object","description":"Template content (WhatsApp Business).","properties":{"template_id":{"type":"string"}},"additionalProperties":true},"parts":{"type":"array","description":"Ordered text/media parts sent as one multipart message (Blooio only).","items":{"type":"object","properties":{"text":{"type":"string"},"url":{"type":"string","format":"uri"}}},"minItems":1},"reply_to":{"type":"string","description":"Message id to reply to. Applies to the whole outgoing message."},"effect":{"type":"string","description":"iMessage screen/bubble effect (Blooio, text only)."},"link_preview":{"$ref":"#/components/schemas/LinkPreview"}}},"Recipient":{"description":"A recipient: a raw identifier string (phone/email/opaque provider id), an array of identifier strings (multiple recipients), an existing `{ group_id }` with an exact or hybrid owner sender, or (for routed sends) a `{ contact_id }`. A `contact_id` enables cross-channel-type routing via the contact's identities; a bare identifier reaches phone/email-addressable channels only.","oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}},{"type":"object","properties":{"contact_id":{"type":"string","description":"Contact id (ct_...) — routed sends only."}},"required":["contact_id"],"additionalProperties":false},{"type":"object","properties":{"group_id":{"type":"string","description":"Existing group id (grp_...) — exact sender or a hybrid sender that owns the group's channel."}},"required":["group_id"],"additionalProperties":false}]},"PriorityChannel":{"type":"object","description":"A channel in a priority. Channels sharing a `priority` (and type) form a pool.","properties":{"channel_id":{"type":"string","description":"Channel id (ch_...)."},"type":{"$ref":"#/components/schemas/ChannelType"},"address":{"type":["string","null"],"description":"The channel's real-world address (phone number for numbered channels)."},"alias":{"type":"string","description":"Organization-wide alias, when the channel has one (RCS Business)."},"priority":{"type":"integer","minimum":1,"description":"Tier (drag order). Lower runs first; same priority + same type = a pool."}},"required":["channel_id","priority"]},"Priority":{"type":"object","properties":{"id":{"type":"string","description":"Priority id (priority_...)."},"name":{"type":["string","null"]},"is_default":{"type":"boolean","description":"Whether this is the key's default priority (used by the agnostic send)."},"channels":{"type":"array","items":{"$ref":"#/components/schemas/PriorityChannel"}},"created_at":{"type":"integer"},"updated_at":{"type":"integer"}}},"CreatePriorityRequest":{"type":"object","properties":{"name":{"type":"string"},"is_default":{"type":"boolean","description":"Make this the key's default priority. Defaults to true for the key's first priority."},"channels":{"type":"array","minItems":1,"description":"Channels in the priority. Each item is a channel id string or `{ channel_id, priority }`. Channels sharing a priority must be the same type.","items":{"oneOf":[{"type":"string"},{"type":"object","properties":{"channel_id":{"type":"string"},"priority":{"type":"integer","minimum":1}},"required":["channel_id"]}]}}},"required":["channels"]},"UpdatePriorityRequest":{"type":"object","description":"Any subset of fields. When `channels` is present it replaces the priority's channels wholesale.","properties":{"name":{"type":"string"},"is_default":{"type":"boolean"},"channels":{"type":"array","minItems":1,"items":{"oneOf":[{"type":"string"},{"type":"object","properties":{"channel_id":{"type":"string"},"priority":{"type":"integer","minimum":1}},"required":["channel_id"]}]}}}},"From":{"type":"string","description":"The sender as a single string: a phone number (any common format; matched to your exact numbered channel), a channel alias (organization-wide name of a non-numbered channel), or an exact channel id (ch_...). Omit it for automatic routing. If a phone number ever matches more than one active channel type, the send fails with `409 ambiguous_from` and the exact `ch_...` id must be used instead."},"SendMessageRequest":{"allOf":[{"$ref":"#/components/schemas/MessageContentFields"},{"type":"object","description":"Send to a recipient. `from` is one optional string (phone number, alias, or channel id); omit it for automatic routing. `priority_id`, `channel_type`, and `hybrid` are advanced routing controls, each mutually exclusive with an explicit `from`.","properties":{"from":{"$ref":"#/components/schemas/From"},"priority_id":{"type":"string","description":"Route through an explicit priority (priority_...). Mutually exclusive with `from`."},"channel_type":{"$ref":"#/components/schemas/ChannelType","description":"Constrain automatic/priority routing to one channel type. Mutually exclusive with `from`."},"hybrid":{"oneOf":[{"type":"boolean"},{"type":"string"}],"description":"Hybrid (Twilio-first / Blooio-after-reply) routing. `true` uses the calling key's hybrid configuration; a phone number string selects the hybrid owner of that representative number. Mutually exclusive with `from` and `priority_id`."},"to":{"$ref":"#/components/schemas/Recipient"},"dry_run":{"type":"boolean","description":"Validate and route only; do not send."}},"required":["to"]}]},"SendToChannelRequest":{"allOf":[{"$ref":"#/components/schemas/MessageContentFields"},{"type":"object","description":"Channel-scoped send. The sender comes from the path, so the body carries no `from` or routing controls.","properties":{"to":{"$ref":"#/components/schemas/Recipient"},"dry_run":{"type":"boolean","description":"Validate and route only; do not send."}},"required":["to"]}]},"SendToChatRequest":{"allOf":[{"$ref":"#/components/schemas/MessageContentFields"},{"type":"object","properties":{"dry_run":{"type":"boolean"}}}]},"CreateChatRequest":{"type":"object","properties":{"channel_id":{"type":"string"},"to":{"type":"string","description":"Recipient identifier (phone/email/opaque provider id)."}},"required":["channel_id","to"]},"CreateContactRequest":{"type":"object","properties":{"name":{"type":["string","null"]},"identifier":{"type":"string","description":"Phone (E.164) or email to attach as the first identity."},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"channel_id":{"type":"string","description":"Reserved for future use."}}},"AttachIdentityRequest":{"type":"object","properties":{"identifier":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"},"channel_id":{"type":"string","description":"Reserved for future use."}},"required":["identifier"]},"CreateGroupRequest":{"type":"object","properties":{"channel_id":{"type":"string","description":"Must be a group-capable channel (blooio/whatsapp)."},"members":{"type":"array","items":{"oneOf":[{"type":"string"},{"type":"object","properties":{"identifier":{"type":"string"}},"required":["identifier"]}]},"minItems":1,"description":"Member phone numbers (E.164) or emails, each given as a string or an object `{ \"identifier\": \"...\" }`."},"name":{"type":"string"}},"required":["channel_id","members"]},"SendPollRequest":{"type":"object","properties":{"title":{"type":"string"},"options":{"type":"array","items":{"type":"string"},"minItems":2}},"required":["title","options"]},"VotePollRequest":{"type":"object","description":"Provide option_index (0-based) or option text.","properties":{"option_index":{"type":"integer","description":"0-based option index."},"option":{"type":"string","description":"Option text."}}},"CreateWebhookRequest":{"type":"object","properties":{"url":{"type":"string","format":"uri","description":"HTTPS endpoint."},"event_types":{"type":"array","items":{"type":"string"},"description":"Subscription tokens: exact event types (e.g. `message.delivered`), category wildcards (`message.*`, `poll.*`, `group.*`, `typing.*`, `safety.*`), `*` for everything, or the legacy v2 coarse buckets `all`, `message`, and `status` (expanded server-side for parity). Defaults to ['*']. `safety.state_changed` fires when a sending number's warm-up tier or safety action changes; its payload carries `tier`, `previous_tier`, `action`, `previous_action` (one of `none`, `queue`, `slow`, `pause_new`, `reply_only`, `review`), and `reasons`. `safety.number_banned` fires when Apple bans a dedicated or shared sending number; its payload carries `channel_id`, `phone_number`, `allocation_type` (`dedicated` or `shared`), and `banned_at`."},"channel_id":{"type":"string"},"channel_type":{"$ref":"#/components/schemas/ChannelType"}},"required":["url"]},"UpdateWebhookRequest":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"event_types":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["active","disabled"]}}}}},"x-blooio-webhook-event-types":["message.received","message.queued","message.pending","message.sent","message.delivered","message.failed","message.read","message.reaction","poll.created","poll.received","poll.voted","group.name_changed","group.icon_changed","contact.shared","contact.merged","typing.started","typing.stopped","safety.state_changed","safety.number_banned"],"x-blooio-endpoints":["DELETE /v4/chats/:chatId/background","DELETE /v4/chats/:chatId/participants/:identityId","DELETE /v4/chats/:chatId/typing","DELETE /v4/contacts/:contactId","DELETE /v4/contacts/:contactId/identities/:identityId","DELETE /v4/contacts/:contactId/tags/:tag","DELETE /v4/groups/:groupId","DELETE /v4/groups/:groupId/icon","DELETE /v4/priorities/:priorityId","DELETE /v
[...]
